@charset "UTF-8";
/* CSS Document */

.clB{clear:both}
.p83_fcA,a{color:#16387c}
.p83_fcB{color:#666}
.p83_fcC{color:#fe6402}
.p83_fcD{color:#1f376d}
.p83_fcE{color:#7e7c10}
.gray{color:#999}

.p83_960{width:960px; float:left; margin-bottom:10px;}
.p83_960 a:hover{ text-decoration:underline }
.p83_gridA{width:270px; float:left;}
.p83_gridB{width:430px; float:left; margin-left:10px; display:inline;}
.p83_gridC{width:240px; float:right;}

.mb10{ margin-bottom:10px;}




.pwSlide{position:relative;zoom:1}
.pwSlide,.pwSlide .switch,.pwSlide .switch li{width:270px; height:270px;overflow:hidden;}
.pwSlide .pwSlide-bg,.pwSlide .switch li h3{position:absolute; left:0; bottom:0; z-index:1;height:25px; line-height:25px; width:100%; overflow:hidden}
.pwSlide .switch li a:hover,.pwSlide .switch li a:hover h3{text-decoration:none; cursor:pointer}
.pwSlide .switch li h3{z-index:2; text-indent:10px; color:#fff; font-weight:700;}
.pwSlide .pwSlide-bg,.pwSlide .SwitchNav li a{background-color:#000;filter:alpha(opacity=60);opacity:0.6;}
.pwSlide .SwitchNav{position:absolute; right:5px; bottom:30px; z-index:3}
.pwSlide .SwitchNav li{float:left; display:inline; margin-left:3px; width:18px; height:18px; overflow:hidden; padding:2px 0 0; text-align:center; font:11px/18px Verdana;}
.pwSlide .SwitchNav li a{display:block; color:#c30;}
.pwSlide .SwitchNav li a:hover{text-decoration:none}
.pwSlide .SwitchNav li.current{padding:0; height:20px; width:20px; line-height:20px; font-weight:700;}
.pwSlide .SwitchNav li.current a{background-position:-17px 0; color:#fff;}


.p83_h3{ border:1px solid #c6d9e7; background:#eff5fc url(p83_h3.png) no-repeat -99em -99em; height:26px; line-height:26px; padding:0 11px 0 27px; font-size:14px; color:#0158a7; font-weight:700}
.p83_h3 .more{float:right; color:#bdbdbd; font-size:12px; font-weight:normal; line-height:1.2; margin-top:7px;}
.p83_h3 .more a{color:#0158a7; padding:0 3px;}

.p83_h3A{ background-position:0 0; padding-left:11px;}
.p83_h3B{ background-position:0 -27px}
.p83_h3C{ background-position:0 -54px}
.p83_h3D{ background-position:0 -81px}

.p83_box{ padding:10px 10px 7px; border:1px solid #c6d9e7; border-top:none; background:#fff }

.p83_dlA{}
.p83_dlA .p83_dlA_p{ width:80px; height:80px; float:left; border:1px solid #dddddd; padding:1px ;}
.p83_dlA .p83_dlA_t,.p83_dlA .p83_dlA_c{ margin-left:90px; line-height:1.8em}
.p83_dlA .p83_dlA_t{line-height:1; margin-bottom:6px;}
.p83_dlA .p83_dlA_c{ line-height:1.5em}

.p83_fcC_1{color:#16387c}
.p83_fcC_2{color:#16387c}
.p83_fcC_3{color:#16387c}

.p83_ulA { line-height:26px}
.p83_ulA li{ height:26px; overflow:hidden; text-indent:.8em; background:url(p83_dotA.png) 1px 11px no-repeat}


.p83_bdA{padding:1px 15px 10px; position:relative; *zoom:1; border:1px solid #c6d9e7; background:#fff url(p83_bgA.png) 0 0 repeat-x;}
.p83_bdA .tag_hot{position:absolute; top:-4px; left:-5px; width:60px; height:60px; overflow:hidden; text-indent:-99em; background:url(hot.png) 0 0 no-repeat}
.p83_bdA .p83_ulA{margin-top:14px; padding-top:13px; border-top:1px dashed #dddddd}

.p83_dlB{ padding:15px 0 0;_padding-top:14px}
.p83_dlB dt{ text-align:center; font-size:16px; line-height:24px; }
.p83_dlB dd{ line-height:22px;}

.p83_dlC{margin:2px 0 11px}
.p83_dlC .p83_dlC_t{height:18px; overflow:hidden; margin-bottom:3px;}
.p83_dlC .p83_dlC_p{width:80px; height:55px; float:left; border:1px solid #dddddd; padding:1px;}
.p83_dlC .p83_dlC_c{margin-left:90px; line-height:1.5}

.p83_gridC .p83_dlC,.p83_dlD{margin: 0 0 5px;}
.p83_dlD .p83_dlC_t{margin-bottom:5px;}
.p83_dlD .p83_dlC_p{width:95px; height:65px;}
.p83_dlD .p83_dlC_c{margin-left:105px;}

.p83_ulB { font-size:14px; line-height:24px; margin-top:13px; padding-top:13px; border-top:1px dashed #dddddd}
.p83_box_h5{ padding:0 0 3px; _padding:0 0 2px }

.p83_ulC{ padding-bottom:5px; margin-bottom:5px; border-bottom:#dddddd 1px dashed}
.p83_ulC li{ background-image:url(p83_dotB.png)}

.p83_ulD li{ height:21px; line-height:21px}
.p83_ulE li,.p83_ulG li{ height:21px; line-height:21px; background:url(p83_dotB.png) 1px 8px no-repeat}
.p83_ulF li { background:none; text-indent:0}

.p83_ulG li a{color:#666}
.p83_ulG li a.p83_fcA{color:#16387c}

.p83_ulH{}
.p83_ulH li{height:16px; line-height:16px; padding-left:9px; margin-bottom:6px; background:url(p83_dotC.png) 0 5px no-repeat}
.p83_ulH li a{color:#666}

.links{border:1px solid #c6d9e7;border-top:0;padding:10px;}
.picslink a{float:left;margin-right:10px;}
.texslink a{float:left;margin-right:10px;line-height:18px;height:18px; white-space:nowrap;}

.p83_gridB .p83_dlA{margin:2px 0 8px;}
.p83_gridB .p83_dlA .p83_dlA_p{width:160px; height:105px;}
.p83_gridB .p83_dlA .p83_dlA_t,.p83_gridB .p83_dlA .p83_dlA_c{margin-left:174px;}

.tabHolder{height:25px; position:relative; margin-top:-1px; border-left:1px solid #c6d9e7; line-height:23px; background:#f0f6fc url(p83_tab.png) repeat-x 0 0}
.tabHolder li{float:left; height:23px; width:78px; overflow:hidden; text-align:center; border:1px solid #c6d9e7; margin-left:-1px;}
.tabHolder li.current{background-color:#fff; width:80px; border-bottom:1px solid #fff;}

.p83_olA{padding:2px 0}
.p83_olA li{height:22px; line-height:22px; overflow:hidden}
.p83_olA li em{float:left; margin:4px 6px 0 0; width:14px; height:14px; overflow:hidden; text-align:center; font:10px/14px Arial; color:#fff; background-color:#9dbee1}


.has_border{margin-top:4px; padding-top:4px; border-top:1px dashed #dddddd}












