<!--<?php print <<<EOT
-->
<div id="breadCrumb">
		<img src="$imgpath/$stylepath/thread/home-old.gif" align="absmiddle" />&nbsp;<a href="$db_bfn" title="$db_bbsname">$db_bbsname</a><em>&gt;</em>&raquo; 取回密码
</div>

<form action="$basename" method="post" name="formct">
<div class="t" style="margin-top:15px">
	<table width="100%" cellspacing="0" cellpadding="0">
		<tr>
			<th class="h" colspan="2">验证完成.可以通过此程序设置新密码</th>
		</tr>
		<tr class="tr3 f_one">
			<th width="25%">新密码</th>
			<th><input type="password" name="new_pwd" class="input" size="40" /></th>
		</tr>
		<tr class="tr3 f_two">
			<th>重复新密码</th>
			<th><input type="password" name="pwdreapt" class="input" size="40" /></th>
		</tr>
		<tr>
			<td>&nbsp;</td><td><div class="p10 tac"><input type="hidden" value="2" name="jop" /><input class="btn" type="submit" value="提 交" /></div>
			</td>
		</tr>
	</table>
</div>
</form>
<!--
EOT;
?>-->