<!--<?php 
print <<<EOT
-->
<script language="JavaScript" src="js/popup.js"></script>
<div id="windlocation" style="position: absolute;visibility: hidden;height: 1;width: 1;top: 100;left: 50;z-index:9999" bgcolor="$tablecolor">
<table width="500" height="300" bgColor="$tablecolor" style="border: 1 outset">
<tr><td align="center">
<table width="480" height="280" style="border: 1 inset" class="f_one">
<tr><td align="center" valign="middle"><a href="./"><img src="$imgpath/$stylepath/logo.png" /></a>
<br /><br />请先注册以避免此窗口再次出现<br /><br />
<b><a href="$db_registerfile"><u>注　册</u></a>
<a href="login.php"><u>登　录</u></a></b>
<p>(此视窗将于 <span id="poplimit">5</span> 秒后自动关闭)</p>
</td></tr></table></td></tr></table>
</div>
<!--
EOT;
?>