<!--<?php print <<<EOT
-->
<div id="breadCrumb">
<img src="$imgpath/$stylepath/thread/home.gif" class="cp breadHome" /><em class="breadEm"></em><a href="$db_bfn" title="$db_bbsname">$db_bbsname</a><em>&gt;</em>管理选项
</div>
<div id="pw_content">
<!--
EOT;
if($action=='banuser'){print <<<EOT
-->
<form action="masingle.php?action=banuser" method="post">
<input type="hidden" name="verify" value="$verifyhash" />
<div class="t">
<table width="100%" cellspacing="0" cellpadding="0" align="center">
	<tr><th class="h" colspan="2">会员禁言</th></tr>
	<tr class="tr3"><td width="15%"  class="tar">禁言对象:</td>
		<td>$userinfo[username]
<!--
EOT;
if($showTips){print <<<EOT
-->
<span class="s1">（该用户为 <b>{$userLevel}</b>，
<!--
EOT;
if($otherGroups){print <<<EOT
-->
	隐含 <b>{$otherGroups}</b> 等用户组头衔
<!--
EOT;
}print <<<EOT
-->
请确认是否要禁言）</span>
<!--
EOT;
}
print <<<EOT
-->
		</td>
	</tr>
	<tr class="tr3"><td class="tar">禁言范围:</td>
	<td><input type="radio" name="range" value="0" checked />{$forum[$fid][name]}
<!--
EOT;
if($isGM || $SYSTEM['banuser']==2){print <<<EOT
-->
	<input type="radio" name="range" value="1" />全局禁言
<!--
EOT;
if ($SYSTEM[banuserip]){print <<<EOT
-->	
	<input type="checkbox" name="banip" value="1" />禁止该 IP
<!--
EOT;
}}print <<<EOT
-->
	</td></tr>
	<tr class="tr3"><td class="tar">禁言类型:</td>
		<td><input type="radio" name="type" value="1" checked />定期禁言
<!--
EOT;
if($isGM || $SYSTEM['bantype']){print <<<EOT
-->
			<input type="radio" name="type" value="2" />永久禁言
<!--
EOT;
}print <<<EOT
-->
		</td>
	</tr>
	<tr class="tr3"><td class="tar">禁言时间:</td>
		<td><input class="input" type="text" name="limit" value="1" size="5" /> 天(最大天数<font color=blue>$pwBanMax</font>天)</td>
	</tr>
	<tr class="tr3"><td class="tar">消息通知:</td>
		<td><input type="radio" name="ifmsg" value="1" checked />开启
			<input type="radio" name="ifmsg" value="0" />关闭
		</td>
	</tr>
	<tr class="tr3 vt">
		<td class="tar">操作原因:</td>
		<td><textarea name="atc_content" style="width:300px;height:124px"></textarea>
			<select name="" size="8" multiple onchange="this.form.atc_content.value=this.value">
				<option value="">自定义</option>
				<option value="">-------</option>
				$reason_sel
			</select>

		</td>
	</tr>
	<tr><td>&nbsp;</td><td style="padding:5px 6px;"><input class="btn" type="submit" value="提 交" /> <a class="btn3" style="cursor:pointer;" type="button" onclick="javascript:history.go(-1)" />返 回</a></td></tr>
</table></div>
<input type="hidden" name="uid" value="$uid" />
<input type="hidden" name="fid" value="$fid" />
<input type="hidden" name="tid" value="$tid" />
<input type="hidden" name="pid" value="$pid" />
<input type="hidden" name="page" value="$page" />
<input type="hidden" name="step" value="3" />
</form>
<!--
EOT;
}elseif($action=='banfree'){print <<<EOT
-->
<form action="masingle.php?action=banfree" method="post">
<input type="hidden" name="verify" value="$verifyhash" />
<div class="t">
<table width="100%" cellspacing="0" cellpadding="0" align="center">
	<tr><th class="h" colspan="2">会员禁言</th></tr>
	<tr class="tr3"><td width="15%"  class="tar">解禁对象:</td>
		<td>$userinfo[username]</td>
	</tr>
	<tr class="tr3"><td class="tar">消息通知:</td>
		<td><input type="radio" name="ifmsg" value="1" checked />开启
			<input type="radio" name="ifmsg" value="0" />关闭
		</td>
	</tr>
	<tr class="tr3 vt">
		<td class="tar">操作原因:</td>
		<td><textarea name="atc_content" style="width:300px;height:124px"></textarea>
		</td>
	</tr>
	<tr><td>&nbsp;</td><td style="padding:5px 6px;"><input class="btn" type="submit" value="提 交" /> <a class="btn3" style="cursor:pointer;" type="button" onclick="javascript:history.go(-1)" />返 回</a></td></tr>
</table></div>
<input type="hidden" name="uid" value="$uid" />
<input type="hidden" name="fid" value="$fid" />
<input type="hidden" name="tid" value="$tid" />
<input type="hidden" name="pid" value="$pid" />
<input type="hidden" name="page" value="$page" />
<input type="hidden" name="step" value="3" />
</form>
<!--
EOT;
}elseif($action=='shield'){print <<<EOT
-->
<form action="masingle.php?action=shield" method="post">
<input type="hidden" name="verify" value="$verifyhash" />
<div class="t">
<table width="100%" cellspacing="0" cellpadding="0" align="center">
	<tr><th class="h" colspan="2">单帖屏蔽</th>
	</tr>
	<tr class="tr3"><td width="15%" class="tar">屏蔽对象:</td>
<!--
EOT;
if($readdb['anonymous'] && !$isGM && !pwRights($isBM,'anonyhide')){ print <<<EOT
-->
		<td>$db_anonymousname</td>
<!--
EOT;
}else{ print <<<EOT
-->
		<td>$readdb[username]</td>
<!--
EOT;
} print <<<EOT
-->
	</tr>
	<tr class="tr3"><td class="tar">操作类型:</td>
		<td><input type="radio" name="step" value="3" $check_Y />单帖屏蔽
			<input type="radio" name="step" value="5" $check_N />取消屏蔽
		</td>
	</tr>
	<tr class="tr3"><td class="tar">消息通知:</td>
		<td><input type="radio" name="ifmsg" value="1" checked />开启
			<input type="radio" name="ifmsg" value="0" />关闭
		</td>
	</tr>
	<tr class="tr3 vt">
		<td class="tar">操作原因:</td>
		<td><textarea name="atc_content" style="width:300px;height:124px"></textarea>
		<select name="" size="8" multiple onchange="this.form.atc_content.value=this.value">
				<option value="">自定义</option>
				<option value="">-------</option>
				$reason_sel
			</select>

		</td>
	</tr>
	<tr><td></td><td style="padding:5px 6px;"><input class="btn" type="submit" value="提 交" /> <a class="btn3" style="cursor:pointer;" type="button" onclick="javascript:history.go(-1)" />返 回</a></td></tr>
</table></div>
<input type="hidden" name="fid" value="$fid" />
<input type="hidden" name="tid" value="$tid" />
<input type="hidden" name="pid" value="$pid" />
<input type="hidden" name="page" value="$page" />
</form>
<!--
EOT;
}elseif($action=='bansignature'){ print <<<EOT
-->
<form action="masingle.php?action=bansignature" method="post">
<input type="hidden" name="verify" value="$verifyhash" />
<div class="t">
<table width="100%" cellspacing="0" cellpadding="0" align="center">
	<tr><th class="h" colspan="2">禁止帖子签名</th>
	</tr>
	<tr class="tr3"><td width="15%" class="tar">操作对象:</td>
<!--
EOT;
if($readdb['anonymous'] && !$isGM && !pwRights($isBM,'anonyhide')){ print <<<EOT
-->
		<td>$db_anonymousname</td>
<!--
EOT;
}else{ print <<<EOT
-->
		<td>$readdb[username]</td>
<!--
EOT;
} print <<<EOT
-->
	</tr>
	<tr class="tr3"><td class="tar">禁止类型:</td>
		<td><input type="radio" name="step" value="3" $check_Y />禁止
			<input type="radio" name="step" value="5" $check_N />解除
		</td>
	</tr>
	<tr class="tr3"><td class="tar">消息通知:</td>
		<td><input type="radio" name="ifmsg" value="1" checked />开启
			<input type="radio" name="ifmsg" value="0" />关闭
		</td>
	</tr>
	<tr class="tr3 vt">
		<td class="tar">操作原因:</td>
		<td><textarea name="atc_content" style="width:300px;height:124px"></textarea>
		<select name="" size="8" multiple onchange="this.form.atc_content.value=this.value">
				<option value="">自定义</option>
				<option value="">-------</option>
				$reason_sel
			</select>

		</td>
	</tr>
	<tr><td></td><td style="padding:5px 6px;"><input class="btn" type="submit" value="提 交" /> <a class="btn3" style="cursor:pointer;" type="button" onclick="javascript:history.go(-1)" />返 回</a></td></tr>
</table></div>
<input type="hidden" name="fid" value="$fid" />
<input type="hidden" name="tid" value="$tid" />
<input type="hidden" name="pid" value="$pid" />
<input type="hidden" name="page" value="$page" />
</form>
<!--
EOT;
}elseif($action=='banuserip'){ print <<<EOT
-->
<form action="masingle.php?action=banuserip" method="post">
<input type="hidden" name="verify" value="$verifyhash" />
<input type="hidden" name="step" value="3" />
<div class="t">
<table width="100%" cellspacing="0" cellpadding="0" align="center">
	<tr><th class="h" colspan="2">禁止ip</th>
	</tr>
	<tr class="tr3"><td width="15%" class="tar">用户名:</td>
<!--
EOT;
if($readdb['anonymous'] && !$isGM && !pwRights($isBM,'anonyhide')){ print <<<EOT
-->
		<td>$db_anonymousname</td>
<!--
EOT;
}else{ print <<<EOT
-->
		<td>$readdb[username]</td>
<!--
EOT;
} print <<<EOT
-->
	</tr>
	<tr class="tr3 vt">
		<td class="tar">操作原因:</td>
		<td><textarea name="atc_content" style="width:300px;height:124px"></textarea>
		<select name="" size="8" multiple onchange="this.form.atc_content.value=this.value">
				<option value="">自定义</option>
				<option value="">-------</option>
				$reason_sel
			</select>

		</td>
	</tr>
	<tr><td></td><td style="padding:5px 6px;"><input class="btn" type="submit" value="提 交" /> <a class="btn3" style="cursor:pointer;" type="button" onclick="javascript:history.go(-1)" />返 回</a></td></tr>
</table></div>
<input type="hidden" name="fid" value="$fid" />
<input type="hidden" name="tid" value="$tid" />
<input type="hidden" name="pid" value="$pid" />
<input type="hidden" name="page" value="$page" />
</form>
<!--
EOT;
}elseif($action=='remind'){ print <<<EOT
-->
<form action="masingle.php?action=remind" method="post">
<input type="hidden" name="verify" value="$verifyhash" />
<div class="t">
<table width="100%" cellspacing="0" cellpadding="0" align="center">
	<tr><th class="h" colspan="2">帖子管理提示</th></tr>
	<tr class="tr3"><td width="15%" class="tar">提醒对象:</td>
<!--
EOT;
if($readdb['anonymous'] && !$isGM && !pwRights($isBM,'anonyhide')){ print <<<EOT
-->
		<td>$db_anonymousname</td>
<!--
EOT;
}else{ print <<<EOT
-->
		<td>$readdb[username]</td>
<!--
EOT;
} print <<<EOT
-->
	</tr>
	<tr class="tr3"><td class="tar">操作类型:</td>
		<td><input type="radio" name="step" value="3" checked />提醒管理
			<input type="radio" name="step" value="5" />取消提醒
		</td>
	</tr>
	<tr class="tr3"><td class="tar">消息通知:</td>
		<td><input type="radio" name="ifmsg" value="1" checked />开启
			<input type="radio" name="ifmsg" value="0" />关闭
		</td>
	</tr>
	<tr class="tr3 vt"><td class="tar">操作原因:</td>
		<td><textarea name="atc_content" style="width:300px;height:124px">$remindinfo</textarea><select name="" size="8" multiple onchange="this.form.atc_content.value=this.value">
				<option value="">自定义</option>
				<option value="">-------</option>
				$reason_sel
			</select>
		</td>
	</tr>
	<tr><td></td><td style="padding:5px 6px;"><input class="btn" type="submit" value="提 交" /> <a class="btn3" style="cursor:pointer;" type="button" onclick="javascript:history.go(-1)" />返 回</a></td></tr>
</table></div>
<input type="hidden" name="fid" value="$fid" />
<input type="hidden" name="tid" value="$tid" />
<input type="hidden" name="pid" value="$pid" />
<input type="hidden" name="page" value="$page" /></form>

<!--
EOT;
}elseif($action=='split'){print <<<EOT
-->
<form action="masingle.php?action=split" method="post">
<input type="hidden" name="verify" value="$verifyhash" />
<input type="hidden" name="tid" value="$tid" />
<input type="hidden" name="fid" value="$fid" />
<input type="hidden" name="step" value="3" />
<!--
EOT;
foreach($selid as $key=>$val){print <<<EOT
-->
<input type="hidden" name="selid[]" value="$val" />
<!--
EOT;
}print <<<EOT
-->
<div class="popTop" style="cursor:move" onmousedown="read.move(event);"><span class="adel cp" onclick="closep();">关闭</span>拆分操作</div>
<script language="javascript" type="text/javascript">
function splitds() {
	var val = document.getElementsByName('splittype');
	var type;
	for(var i = 0; i< val.length; i++){
     if(val[i].checked){
      	if (val[i].value== 1){ 
	  		type = 1;
	 	 }else {
		 	type = 0;
		 }
	  }
    }
	var stitle = document.getElementById('splittitle');
	var sid = document.getElementById('splitid');
	if(type == 1){
		stitle.style.display = 'none';
		sid.style.display = '';
	}else{
		stitle.style.display = '';
		sid.style.display = 'none';
	}

}
</script>
<table width="100%" class="vt z">
<tr class="tr3"><td width="15%" class="tar">拆分数量:</td><td>$splitNum 篇</td></tr>
<tr class="tr3">
	<td width="15%" class="tar">拆分目标:</td>
	<td><input name="splittype" onclick="splitds()" type="radio" checked="checked" value="0" />新帖&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<input name="splittype" onclick="splitds()" type="radio" value="1" />合并到帖子
	</td>
</tr>
<tr class="tr3" id="splittitle">
	<td width="15%" class="tar">新帖标题:</td>
	<td><input name="splittitle" class="input" size="50" />
	</td>
</tr>
<tr class="tr3" id="splitid" style="display:none;">
	<td width="15%" class="tar">帖子ID:</td>
	<td><input name="splitid" class="input" size="10" />
	</td>
</tr>
<tr class="tr3">
		<td width="15%" class="tar">消息通知:</td>
		<td>
			<label class="mr20"><input type="radio" name="ifmsg" value="1" checked />开启</label>
			<label><input type="radio" name="ifmsg" value="0" />关闭</label>
		</td>
	</tr>
	<tr class="tr3"><td width="15%" class="tar">操作原因:</td>
		<td><textarea name="atc_content" onkeydown="ajax.quickpost(event,this.form)" style="width:300px;height:124px"></textarea><select style="width:320px;" onchange="this.form.atc_content.value=this.value" size="8" multiple>
				<option value="">自定义</option>
				<option value="">-------</option>
				$reason_sel
			</select>
		</td>
	</tr>
		<tr><td></td><td style="padding:5px 6px;"><input class="btn" type="submit" value="提 交" /> <a class="btn3" style="cursor:pointer;" type="button" onclick="javascript:history.go(-1)" />返 回</a></td></tr>
</table></form>
</div>
<!--
EOT;
}elseif($action=='delatc'){print <<<EOT
-->
<form action="masingle.php?action=delatc" method="post">
<input type="hidden" name="verify" value="$verifyhash" />
<input type="hidden" name="tid" value="$tid" />
<input type="hidden" name="fid" value="$fid" />
<input type="hidden" name="step" value="3" />
<!--
EOT;
foreach($threaddb as $key=>$val){print <<<EOT
-->
<input type="hidden" name="selid[]" value="$val[pid]" />
<!--
EOT;
}print <<<EOT
-->
<div class="t">
<table width="100%" cellspacing="0" cellpadding="0">
	<tr><th class="h" colspan="2">删除回复操作</th></tr>
	<tr class="tr3"><td width="15%" class="tar">删除数量:</td><td>$count 篇</td></tr>
	<tr class="tr3"><td class="tar">扣除积分:</td>
		<td><input type="radio" name="ifdel" value="1" checked />开启
			<input type="radio" name="ifdel" value="0" />关闭
		</td>
	</tr>
	<tr class="tr3"><td class="tar">消息通知:</td>
		<td><input type="radio" name="ifmsg" value="1" checked />开启
			<input type="radio" name="ifmsg" value="0" />关闭
		</td>
	</tr>
	<tr class="tr3 vt"><td class="tar">操作原因:</td>
		<td><textarea name="atc_content" style="width:300px;height:124px"></textarea><select name="" size="8" multiple onchange="this.form.atc_content.value=this.value">
				<option value="">自定义</option>
				<option value="">-------</option>
				$reason_sel
			</select>

		</td>
	</tr>
	<tr><td></td><td style="padding:5px 6px;"><input class="btn" type="submit" value="提 交" /> <a class="btn3" style="cursor:pointer;" type="button" onclick="javascript:history.go(-1)" />返 回</a></td></tr>
</table></div></form>
<!--
EOT;
}elseif($action=='pingcp'){print <<<EOT
-->
<form action="masingle.php?action=$action" method="post">
<input type="hidden" name="verify" value="$verifyhash" />
<input type="hidden" name="tid" value="$tid" />
<input type="hidden" name="pid" value="$pid" />
<input type="hidden" name="fid" value="$fid" />
<input type="hidden" name="rpage" value="$rpage" />
<input type="hidden" name="step" value="2" />
<div class="t">
<div class="h">评分记录管理</div>
<table width="100%" cellspacing="0" cellpadding="0" style=" table-layout:fixed;">
	<tr class="tr3">
		<td width="7%">选择</td>
		<td width="12%">操作者</td>
		<td width="12%">积分情况</td>
		<td width="15%">评分时间</td>
		<td>评分理由</td>
	</tr>
<script language="javascript" type="text/javascript">
function cutStrContent(obj){
	if(strlen(getObj(obj).value) > 100 ) {
		getObj(obj).value = substr(getObj(obj).value,100);
		alert ('评分理由请不要超过100字节');
	}
}
</script>
<!--
EOT;
foreach($pingdb as $val){
$disabled='';
$val['ifable'] && $disabled='disabled';
print<<<EOT
-->
	<tr class="tr3">
		<td><input type="checkbox" name="selid[]" value="$val[id]"></td>
		<td>$val[pinger]</td>
		<td>$val[name] $val[point]</td>
		<td>$val[pingdate]</td>
		<td title="双击修改评分记录" ondblclick="editrecord('$val[id]')"><span id="ping_$val[id]">$val[record]</span><span id="edit_$val[id]" style="display:none"><input type="text" class="input input_wb" id="editbox_$val[id]" value="$val[record]" onchange="cutStrContent(this.id);" onkeyup="cutStrContent(this.id);" onkeydown="cutStrContent(this.id);"> <img title="保存" alt="保存" onclick="savePingLog('$val[id]');" src="$imgpath/post/c_editor/save.gif" style="cursor:pointer;" align="absmiddle"></span></td>
	</tr>
<!--
EOT;
}print<<<EOT
-->
	<tr align="center">
		<td style="padding:.5em 1em" colspan="5">
			<div class="cc">$pages</div>
			<span class="fl"><input type="checkbox" onclick="CheckAll(this.form)" />全选</span>
			<input class="btn" type="submit" value="删除" /> <a class="btn3" style="cursor:pointer;" type="button" onclick="javascript:history.go(-1)" />返 回</a>
		</td>
	</tr>
</table></div></form>
<script language="JavaScript">
function editrecord(id) {
	var r = getObj('ping_' + id);
	if (r.style.display == 'none') {
		return;
	}
	r.style.display = 'none';
	getObj('edit_' + id).style.display = '';
}
function savePingLog(id) {
	var record = getObj('editbox_' + id).value; 
	ajax.send('pw_ajax.php?action=savepinglog&id=' + id + '&record=' + record, '', function() {
		var rText = ajax.request.responseText;
		if (rText == 'success') {
			getObj('ping_' + id).innerHTML = record;
			getObj('ping_' + id).style.display = '';
			getObj('edit_' + id).style.display = 'none';
		} else {
			ajax.guide();
		}
	});
}
</script>
<!--
EOT;
} elseif ($action == 'inspect') {print <<<EOT
-->
<form action="masingle.php?action=$action" method="post">
<input type="hidden" name="verify" value="$verifyhash" />
<input type="hidden" name="step" value="2">
<input type="hidden" name="fid" value="$fid" />
<input type="hidden" name="tid" value="$tid" />
<input type="hidden" name="pid" value="$pid" />
<input type="hidden" name="page" value="$page" />
<input type="hidden" name="p" value="$p" />
<div class="t">
<table width="100%" cellspacing="0" cellpadding="0">
	<tr><th class="h" colspan="2">版主已阅操作</th></tr>
	<tr class="tr3"><td class="tar"  width="21%">消息通知:</td>
		<td><input type="radio" name="ifmsg" value="1" checked />开启
			<input type="radio" name="ifmsg" value="0" />关闭
		</td>
	</tr>
	<tr class="tr3 vt"><td class="tar">操作原因:</td>
		<td><textarea name="atc_content" style="width:300px;height:124px"></textarea><select name="" size="8" multiple onchange="this.form.atc_content.value=this.value">
				<option value="">自定义</option>
				<option value="">-------</option>
				$reason_sel
			</select>
		</td>
	</tr>
	<tr><td></td><td style="padding:5px 6px;">
<!--
EOT;
if ($iftypeavailable == 1) {print <<<EOT
-->
	<input type="checkbox" name="nextto" value="type">&nbsp;转移主题分类
<!--
EOT;
}print <<<EOT
--><input class="btn" type="submit" value="提 交" /> <a class="btn3" style="cursor:pointer;" type="button" onclick="javascript:history.go(-1)" />返 回</a></td></tr>
</table></div>
</form>
<!--
EOT;
}print <<<EOT
-->
</div>
<!--
EOT;
?>-->