<!--<?php
print <<<EOT
-->
<style>
.post_type{border:1px dashed #ccc;background:$forumcolortwo;padding:15px 20px;}
.post_type .s3{color:#008800;}
.post_left{float:left;width:380px;border-right:1px solid $tdcolor;}
.post_right{float:left;border-left:1px solid $tdcolor;margin-left:-1px;padding-left:20px;}
.post_list{padding-right:20px;}
.post_list li{padding:5px 0;line-height:21px;height:21px;}
.post_list li.li_textarea{height:70px;}
.post_list li .adel{margin-top:3px;}
.post_list input.checkbox{margin:0 5px 0 0;*margin:0;padding:0;}
.post_list li em{display:inline-block;width:90px;}
.post_list textarea{width:240px;height:60px; vertical-align:top;overflow:auto;padding:5px;}
.post_list_add{padding-left:13px; background:url(u/images/add.png) 0 2px no-repeat;}
.post_thumb{width:210px;height:160px;border:1px solid #ccc;background:#fff;position:relative;}
.post_thumb a{height:20px;width:80px; position:absolute;left:50%;top:50%;margin-left:-40px;margin-top:-10px;line-height:20px;text-indent:25px;background:url(images/post/post_thumb.png) no-repeat;filter:alpha(opacity=80);-moz-opacity:0.8;opacity:0.8;}
.post_thumb:hover a{ text-decoration:none;filter:alpha(opacity=100);-moz-opacity:1;opacity:1;}
.post_thumb input{height:20px;position:absolute;right:65px;top:70px;z-indx:99;width:80px;filter:alpha(opacity=0);-moz-opacity:0;opacity:0; cursor:pointer;}
.input_330{width:330px;}

.post_tab{border-bottom:1px solid $tdcolor;height:30px;margin-bottom:15px;}
.post_tab li{float:left;height:29px;line-height:30px;margin-right:5px;}
.post_tab li a{display:block;float:left;background:$forumcolortwo;padding:0 10px;height:29px;overflow:hidden; text-decoration:none;border:1px solid $tdcolor;border-bottom:0 none;}
.post_tab li a:hover{ text-decoration:none;background:$forumcolorone;}
.post_tab li.current{height:30px; position:relative; font-weight:700;_margin-bottom:-1px;}
.post_tab li.current a{background:$forumcolorone;height:30px;}
.post_tab li.post_tab_btn{padding:3px 0 0 40px;}

.post_tab_edit{height:25px;}
.post_tab_edit li{float:left;margin-right:3px;}
.post_tab_edit li a{float:left;height:23px;line-height:23px;padding:0 10px 0 20px;border:1px solid #dddddd; position:relative;}
.post_tab_edit li a:hover{ text-decoration:none;border-color:$tablecolor;z-index:1;}
.post_tab_edit li a span{width:3px;height:3px;border:1px solid #c3c3c3;background:#f1f1f1; position:absolute;margin:9px 0 0 -10px;*margin-top:4px;overflow:hidden;}
.post_tab_edit li.current a{border-color:$tdcolor;background:$forumcolortwo;border-bottom:0 none;height:24px; position:relative;z-index:1;}
.post_tab_edit li.current a span{border-color:$tablecolor;background:$tdcolor;}
.post_tab_edit li a.have span{border-color:$headfonttwo;background:$headfonttwo;}
.post_tab_edit_cont{border:1px solid $tdcolor;background:$forumcolortwo;padding:7px 10px;margin-top:-1px; position:relative;display:none;}
.post_tab_edit_cont p{padding:3px 0;}
.post_tab_edit_cont label input{margin:-3px 3px 0 0;*padding:0;*margin:0;_margin-top:-3px;}
.post_tab_edit_cont label .input{padding:2px;margin:0;}
.post_tab_edit_cont .label_120{display:inline-block;width:137px;}
.post_mention{padding:5px 0 3px;}
.post_mention span.fl{line-height:22px;}


/*old css*/
.post_tips{background:#fffeed;padding:3px 10px;display:inline-block;}
/*tips*/
.wy_tips{background:url(images/post/c_editor/w_edit_but.png) right center no-repeat;float:left;}
.wy_tips i{display:none;}
.wy_tips:hover{color:#333;_position:relative;text-decoration:none;}
.wy_tips:hover i{display:block; position:absolute;border:1px solid #f8ad48;background:#fffeed;padding:5px 8px;color:#333;font-style:normal;line-height:150%;word-break:keep-all;word-wrap:no-wrap;}
/*box*/
.w_title_ip,.menu_select div,.menu_select .hover{border:1px solid;border-color:#aaa #ddd #ddd #aaa;background:#fff;}
.w_title_ip i,.menu_select div{background:url(images/post/c_editor/droparrow.gif) no-repeat right center;padding-right:15px;}
/*h*/
.w_title_ip{float:left;height:25px;line-height:25px;}
.w_title_ip input{width:340px;float:left;border:0;background:#fff;padding:0 5px; font-size:14px;vertical-align:middle;margin-top:5px;}
.w_title_ip i{float:left;margin:0 2px 0;*margin-top:3px;}
.w_input_text{font-style:normal;line-height:18px;padding:0 4px;color:#fff;margin-left:10px; position:absolute;right:-1px;bottom:25px;background:#ff0000;}
#icontab{position:absolute;margin-top:25px;z-index:1;width:230px;margin-left:-229px;}
#icontab div{background:#f7f7f7;border:1px solid #ccc;line-height:100%;}
#icontab div img{float:left;padding:3px;}
/*cate select*/
.menu_select{float:left;line-height:25px;height:25px;margin-right:5px;cursor:pointer; font-size:14px;}
.menu_select div{padding-left:10px;background-color:#fff;white-space:nowrap;}
.menu_select ul{height:0;overflow:hidden;float:left;clear:left;padding:0 1px;}
.menu_select li{white-space:nowrap;padding:0 15px 0 10px;}
.menu_select li:hover{background-color:#f2f2f2;}
.menu_select .hover{position:absolute;height:auto;z-index:9999;background:#fff;border-top:0;margin-top:-1px;float:normal;clear:both;padding:0;}
</style>
<!--
EOT;
?>-->