<!--<?php
if($read){
$style = $read[pid] == 'tpc' ? "" : '';print <<<EOT
-->
	$read[jupend]
	<table width="100%" class="flootbg"><tbody><tr><td></td></tr></tbody></table>
	<div class="read_t">
		<table width="100%" class="floot">
			<tr class="vt">
				<td rowspan="2" class="floot_left">
					<div class="floot_leftdiv">
						<div class="readName b">
<!--
EOT;
	if ($db_showonline) {
		if (checkOnline($read['thisvisit'])) {print <<<EOT
-->
							<img src="images/online.png" title="在线" align="absmiddle">
<!--
EOT;
		} else {print<<<EOT
-->
							<img src="images/stealth.png" title="离线" align="absmiddle">
<!--
EOT;
		}
	}
print <<<EOT
-->
							<a href="{$db_userurl}$read[authorid]">$read[author]</a>
						</div>
<!--
EOT;
	if ($read['honor'] && $_G['allowhonor']) {print <<<EOT
-->
						<div class="readHonor">$read[honor]</div>
<!--
EOT;
	}print <<<EOT
-->
						<div class="readFace">
							<div class="fl">
								<div class="card" style="display:none" id="readFace_{$read[lou]}" onmouseover="this.style.display='';" onmouseout="this.style.display='none';">
									<dl class="cc">
										<dt class="fl">
											<div class="cc"><a href="{$db_userurl}$read[authorid]" class="face_img"><img class="pic" src="{$read[face]}" {$read[facesize]} border="0" title="$read[author]" /></a></div>
											<p>UID：$read[authorid]</p>
										</dt>
										<dd class="ddA">
											<ul class="cc half">
												<li><span>注册时间</span>{$read[regdate]}</li>
												<li><span>最后登录</span>{$read[lastlogin]}</li>
<!--
EOT;
if($db_ifonlinetime){print <<<EOT
-->
												<li><span>在线时间</span>$read[ontime]小时</li>
<!--
EOT;
}print <<<EOT
-->
											</ul>
										</dd>
										<dd class="ddA">
											<ul class="cc half">
												<li><span>发帖</span>$read[postnum]</li>
												<li><a href="apps.php?q=article&uid=$read[authorid]" target="_blank">搜Ta的帖子</a></li>
												<li><span>精华</span>
<!--
EOT;
if($read['digests']){print <<<EOT
-->
													<a href="searcher.php?authorid=$read[authorid]&digest=1" target="_blank">$read[digests]</a>
<!--
EOT;
}else{print <<<EOT
-->
													$read[digests]
<!--
EOT;
}
$ccolor = 1;
$firstCreditString = $secondCreditString = '';
foreach ($db_showcustom as $ctype) {
if (!$creditnames[$ctype]) continue;
$ccolor = ($ccolor > 3) ? 1 : $ccolor + 1;
$cvalue = is_numeric($ctype) ? $customdb[$read['authorid']][$ctype] : $read[$ctype];
!$cvalue && $cvalue = 0;
$firstCreditString .= "<li class=\"cc\"><span>$creditnames[$ctype]</span>$cvalue</li>";
$secondCreditString .= "<dl class=\"cc\"><dt>$creditnames[$ctype]</dt><dd>$cvalue</dd></dl>";
}
print <<<EOT
-->
												</li>
												$firstCreditString
											</ul>
										</dd>
										<dd class="ddB">
											<a href="{$db_userurl}$read[authorid]" class="add_home">访问TA的空间</a><a href="javascript:;" onclick="sendmsg('pw_ajax.php?action=addfriend&touid=$read[authorid]')" class="add_fri">加好友</a><a href="javascript:;" onclick="sendmsg('pw_ajax.php?action=usertool&uid=$read[authorid]')" class="add_pro">用道具</a>
										</dd>
									</dl>
								</div>
							</div>
						</div>
						<a href="{$db_userurl}$read[authorid]" id="card_sf_{$read[pid]}_{$read[authorid]}" class="userCard face_img">
<!--
EOT;
if ($read['authorid'] != 0) {print<<<EOT
-->
<img onmouseover="readFace.show('readFace_{$read[lou]}');" onmouseout="readFace.clear()" class="pic" src="{$read[face]}" {$read['facesize']} border="0" title="$read[author]" />
<!--
EOT;
} else { print<<<EOT
-->
<img  class="pic" src="{$read[face]}" {$read['facesize']} border="0" title="$read[author]" />
<!--
EOT;
}print<<<EOT
-->
						</a>
						<div class="readLevel mb5"><span>级别: <a href="profile.php?action=permission&gid=$read[groupid]">{$read[level]}</a></span><img src="$imgpath/$stylepath/level/$read[lpic].gif" /></div>
<!--
EOT;
if (!$db_readinfo) {
$basicInfoStyle = 'style="display:none"';
print<<<EOT
-->
						<div>
							<a id="{$topPostId}info_$read[pid]" onclick="showuserinfo(this.id);" class="cp link">显示用户信息</a>
							<span id="gif_{$topPostId}info_$read[pid]" onclick="showuserinfo('{$topPostId}info_$read[pid]');" class="cp">&nbsp;<img src="$imgpath/read_down.gif"></span>
						</div>
						<div class="c mb5"></div>
<!--
EOT;
}
print<<<EOT
-->
						<div class="readUser_info cc mb10">
							<div class="one" id="basic_{$topPostId}info_$read[pid]" $basicInfoStyle>
								<dl class="cc"><dt>发帖</dt><dd>{$read[postnum]}</dd></dl>
								$secondCreditString
<!-- 
EOT;
if($customfield){
foreach($customfield as $k=>$val){
if($val['viewinread']){
if($val['viewright']&&$winduid!=$read['authorid']&&strpos(",$val[viewright],",",$groupid,")===false){
continue;
}$field="field_".(int)$val[id];
if($val[type]==3){
foreach(explode("\n",$val['options']) as $k=>$v){
list($k,$v)=explode('=',$v);
if($read[$field]==$k){
$read[$field]=$v;
}}}print <<<EOT
-->
								<dl class="cc"><dt>{$val[title]}</dt><dd>{$read[$field]}</dd></dl>
<!--
EOT;
}}}
print <<<EOT
-->
							</div>
							<ul class="two cc">
<!--
EOT;
if ($read['authorid'] != 0) {print<<<EOT
-->
								<li><a href="javascript:;" onclick="Attention.add(this,'{$read['authorid']}',0)" class="add_fol">关注Ta</a></li>
								<li><a href="javascript:;" onclick="sendmsg('pw_ajax.php?action=msg&touid=$read[authorid]');" class="add_mes">发消息</a></li>
<!--
EOT;
	}if ($isGM && $read['authorid'] != 0) {
print<<<EOT
-->
								<li><a href="javascript:;" id="td_userAmdin{$read[lou]}" class="add_adm">管理</a></li>
								<div class="pw_menu" style="position:absolute;display:none;" id="menu_userAmdin{$read[lou]}">
									<ul class="menuList" style="width:70px;">
										<li><a href="{$db_adminfile}?adminjob=superdel&admintype=article&action=deltpc&fid=-1&ifkeep=1&author={$read[author]}&lines=30&ttable=auto" target="_blank">删除主题</a></li>
										<li><a href="{$db_adminfile}?adminjob=thread&admintype=article&action=replylist&author={$read[author]}&nums=30" target="_blank">删除回复</a></li>
										<li><a href="{$db_adminfile}?adminjob=usermanage&adminitem=delete&action=del&schname={$read[author]}&regdate=all&schlastvisit=all&item=14" target="_blank">清除用户</a></li>
									</ul>
								</div>
<!--
EOT;
		$db_menuinit .= ",'td_userAmdin{$read[lou]}' : 'menu_userAmdin{$read[lou]}'";
	}
	if (($isGM || ($SYSTEM['banuser'] == 1 && $isBM) || $SYSTEM['banuser'] == 2) && $read['authorid'] != 0) {
		if ($read['groupid'] == 6 || getstatus($read['userstatus'], PW_USERSTATUS_BANUSER)) {
print <<<EOT
-->
								<li><a href="masingle.php?action=banfree&uid={$read[authorid]}&fid=$fid&tid=$tid&page=$page" onclick="return sendurl(this,2)" title="禁言" class="add_gag">[解禁]</a><li>
<!--
EOT;
		} elseif ($winduid != $read['authorid'] && $read['authorid'] != 0) {
print <<<EOT
-->
								<li><a href="masingle.php?action=banuser&uid={$read[authorid]}&fid=$fid&tid=$tid&pid=$read[pid]&page=$page" onclick="return sendurl(this,2)" title="禁言" class="add_gag">禁言</a></li>
<!--
EOT;
		}
	}
print <<<EOT
-->
							</ul>
						</div>
						<div>$read[medals]</div>
					</div>
				</td>
				<td class="floot_right" id="td_$read[pid]"><a name="post_$read[pid]"></a>
<!--印戳-->
<!--
EOT;
	if ($overprint && $read['pid'] == 'tpc') {
print <<<EOT
-->
					<div class="overprint" id="read_overprint"><img src="$overprint"/></div>
<!--
EOT;
	}
print <<<EOT
-->
<!--楼层信息及编辑-->
					<div class="tipTop s6">
						<span class="fr">
<!--
EOT;
	if ($authorid == $winduid && $read['authorid'] != $authorid && $_G['leaveword']) {print <<<EOT
-->
							<a onclick="sendmsg('pw_ajax.php?action=leaveword&tid=$tid&pid=$read[pid]','',this.id)" id="word_$read[pid]" title="楼主留言" class="mr5 cp s6">留言</a>
<!--
EOT;
	}
	if ($uid) {print <<<EOT
-->
							<a href="read.php?tid=$tid" title="显示全部帖子" class="mr5">全看</a>
<!--
EOT;
	} else {
		if ($read['lou'] == 0) {print <<<EOT
-->
							<a href="javascript:;" onclick="window.location=('read.php?tid=$tid&uid=$read[authorid]');return false;" title="只看楼主的所有帖子" class="mr5 s6">只看楼主</a>
<!--
EOT;
		} else {print <<<EOT
-->
							<a href="javascript:;" onclick="window.location=('read.php?tid=$tid&uid=$read[authorid]');return false;" title="只看该作者的所有回复" class="mr5 s6">只看该作者</a>
<!--
EOT;
		}
	}
print <<<EOT
-->
<!--
EOT;
	if ($read['lou'] == 0) {print <<<EOT
-->
							<a href="javascript:;" id="td_More" onclick="read.open('menu_More','td_More');" class="link_down mr5 s6"><span>更多操作</span></a>
							<div id="menu_More" class="popout" style="display:none;"><table border="0" cellspacing="0" cellpadding="0"><tbody><tr><td class="bgcorner1"></td><td class="pobg1"></td><td class="bgcorner2"></td></tr><tr><td class="pobg4"></td><td><div class="popoutContent">
								<ul class="menuList" style="width:70px;">
<!--
EOT;
		if ($ordertype == 'desc') {print <<<EOT
-->
									<li><a href="read.php?tid=$tid&ordertype=asc" title="正序阅读">正序阅读</a></li>
<!--
EOT;
		} else {print <<<EOT
-->
									<li><a href="read.php?tid=$tid&ordertype=desc" title="倒序阅读">倒序阅读</a></li>
<!--
EOT;
		}print <<<EOT
-->
									<li><a href="javascript:;" title="$db_bbsurl/read.php?fid=$fid&tid=$tid&u=$winduid" onclick="copyUrl('');">复制链接</a></li>
<!--
EOT;
		if (isset($db_hackdb['toolcenter']) && $db_toolifopen) {print <<<EOT
-->
									<li><a href="javascript:;" id="usetool" onclick="sendmsg('pw_ajax.php?action=usetool','','td_More')">使用道具</a></li>
<!--
EOT;
		}print <<<EOT
-->
									
								</ul>
							</div></td><td class="pobg2"></td></tr><tr><td class="bgcorner4"></td><td class="pobg3"></td><td class="bgcorner3"></td></tr></tbody></table></div>				
							<input type="text" class="input mr5" style="width:20px;padding:1px;" name="floor{$read[pid]}" id="floor{$read[pid]}" onkeypress="if(event.keyCode == 13){getFloorUrl(this);return false;};" /><img src="$imgpath/pwicon/stairs.png" onclick="getFloorUrl(getObj('floor{$read[pid]}'))" title="楼层直达" class="cp" align="absmiddle" />
<!--
EOT;
	}print <<<EOT
-->
						</span>
<!--
EOT;
	if ($read['istop'] == 'topped') {
print <<<EOT
-->
						<a class="s2 b cp" onclick="copyUrl('$read[pid]')" title="复制此楼地址">置顶</a>&nbsp;&nbsp;来自<a href="$read[jumpurl]" class="mr5">$read[floor]楼</a>
<!--
EOT;
	} elseif (!empty($db_floorname[$read['lou']])) {print <<<EOT
-->
						<a class="s2 b cp" onclick="copyUrl('$read[pid]')" title="复制此楼地址">{$db_floorname[$read[lou]]}</a>&nbsp;&nbsp;<!--
EOT;
	} else { print<<<EOT
-->
						<a class="s2 b cp" onclick="copyUrl('$read[pid]')" title="复制此楼地址">$read[lou]$db_floorunit</a>&nbsp;<!--
EOT;
	}print <<<EOT
-->
						<span title="$read[postdate]">发表于: $read[posttime]</span>
<!--
EOT;
	if ($read['ipfrom'] || $read['ip']) {
		$tmpHtml = $read['ipfrom'] ? '来自:' . $read['ipfrom'] : $read['ip'];
		$tmpTitle = ($read['ipfrom'] && $read['ip']) ? ' title="' . $read['ip'] . '"' : '';
		($isGM || $pwSystem['banuserip']) && $tmpTitle .= ' class="cp" onclick="viewIp(this)"';
print <<<EOT
-->
						, <span id="viewip_{$read['pid']}_{$read['lou']}"{$tmpTitle}>$tmpHtml</span>
<!--
EOT;
	}
print <<<EOT
-->
<!--
EOT;
	if (isset($read['cyid'])) {print <<<EOT
--> , 来自群:<a href="apps.php?q=group&cyid=$read[cyid]">$read[cname]</a>
<!--
EOT;
	}
	if ($read['lou'] == 0) {print<<<EOT
-->
<!--
EOT;
	}
	if ($read['authorid']==$winduid || $isGM || $pwSystem['deltpcs'] || $colonyManageCheck) {
		if ($db_ajax & 4){
			$edit_title = getLangInfo('other','ajax_edit_way');
		} else {
			$edit_title = getLangInfo('other','edit');
		}
print <<<EOT
-->
 , <a href="post.php?action=modify&fid=$fid&tid=$tid&pid=$read[pid]&article=$read[lou]" id="modify_$read[pid]" onclick="return sendurl(this,4,'',event)" title="{$edit_title}" class="s4">编辑</a>
<!--
EOT;
	}
print <<<EOT
-->
                    </div>
<!--
EOT;
	if ($read['lou'] != 0) {print <<<EOT
-->
					<div class="read_h1" style="margin-bottom:10px;" id="subject_$read[pid]">$db_union[2]$read[subject]</div>
<!--
EOT;
	} elseif (!$read['ifcheck']) {print <<<EOT
-->
					<div class="blockquote">该帖需要管理员审核通过后才能正常显示！</div>
<!--
EOT;
	}print <<<EOT
-->
<!--帖子右侧（广告/动漫表情）-->
					<div class="readContent">
<!--管理提醒-->
<!--
EOT;
	if ($read['remindinfo']) {print <<<EOT
-->
						<div id="mag_$read[pid]" class="operTips tac f12 mb10 s6">&mdash;
<!--
EOT;
		if ($read['remindinfo'][1]) {print <<<EOT
-->
							({$read[remindinfo][1]})
<!--
EOT;
		}print <<<EOT
-->
							{$read[remindinfo][0]}
<!--
EOT;
		if ($read['remindinfo'][2]) {print <<<EOT
-->
							({$read[remindinfo][2]})
<!--
EOT;
		}print <<<EOT
-->
							&mdash;
						</div>
<!--
EOT;
	}print <<<EOT
-->
<!--帖子顶部ad-->
<!--
EOT;
	list($htmlAdvert,$arrayAdvert) = pwAdvert('Mode.Forum.Layer.TidUp',$fid,$read[lou]+1);
	if ($htmlAdvert) {print <<<EOT
-->
						<div class="cc mb10" id="ads_c_$read[pid]">{$htmlAdvert}</div>
<!--
EOT;
	}print <<<EOT
-->
<!--投票开始-->
					<!--div class="vote">
						<h4><span class="b mr10">共有52人参与</span><a href="#" class="fn">查看参与人员</a></h4>
						<div class="vote_tips" style="display:none;">
							<h5 class="b">投票限制</h5>
							<ol>
								<li>本投票只允许注册日期大于 2010-11-08 会员投票</li>
							</ol>
						</div>
						<table width="100%">
							<tr>
								<td colspan="4" class="vote_text">1，九溪赏景+烧烤</td>
							</tr>
							<tr>
								<td class="vote_pick"><input name="" type="radio" value=""></td>
								<td class="vote_numline">
									<div class="perCent"><div class="perValue" style="width:20%;"><span></span></div></div>
								</td>
								<td class="vote_result"><div>20<span class="gray">(20%)</span></div></td>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td colspan="4">
									<div class="vote_part">
										sarabath 刘禅 李浩 叶小纨 喻春阳 竹青 吴芳 董宣 joey 凤来仪 郦善长 王华 钱文玲 吴鹃 朱以训 薛素素
									</div>
								</td>
							</tr>
							<tr>
								<td colspan="4" class="vote_text">2，爬山+中午自带干+分享+晚上聚餐（西湖边）</td>
							</tr>
							<tr>
								<td class="vote_pick"><input name="" type="radio" value=""></td>
								<td class="vote_numline">
									<div class="perCent"><div class="perValue perbgA" style="width:10%;"><span></span></div></div>
								</td>
								<td class="vote_result"><div>10<span class="gray">(10%)</span></div></td>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td colspan="4" class="vote_text">3，真人CS</td>
							</tr>
							<tr>
								<td class="vote_pick"><input name="" type="radio" value=""></td>
								<td class="vote_numline">
									<div class="perCent"><div class="perValue perbgB" style="width:50%;"><span></span></div></div>
								</td>
								<td class="vote_result"><div>50<span class="gray">(50%)</span></div></td>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td colspan="4" class="vote_text">4，其他（回帖注明）</td>
							</tr>
							<tr>
								<td class="vote_pick"><input name="" type="radio" value=""></td>
								<td class="vote_numline">
									<div class="perCent"><div class="perValue perbgC" style="width:5%;"><span></span></div></div>
								</td>
								<td class="vote_result"><div>5<span class="gray">(5%)</span></div></td>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td colspan="4" class="vote_text">5，杭州乐园（新增项目）</td>
							</tr>
							<tr>
								<td class="vote_pick"><input name="" type="radio" value=""></td>
								<td class="vote_numline">
									<div class="perCent"><div class="perValue perbgD" style="width:15%;"><span></span></div></div>
								</td>
								<td class="vote_result"><div>15<span class="gray">(15%)</span></div></td>
								<td>&nbsp;</td>
							</tr>
						</table>
						<div class="vote_Bot"><span class="btn2" style="margin:0;"><span><button type="button">投票</button></span></span></div>
					</div-->
<!--投票结束-->
<!--辩论开始-->
					<!--div class="debate">
						<div class="debate_time tac f12 p15">辩论结束时间 2014-12-31 14:39 &mdash; 裁判：<a href="#" target="_blank">admin</a></div>
						<div class="debate_table">
							<table width="100%">
								<tr>
									<td class="tac f14" style="padding-right:15px;"><div class="b s2 mb5">正方观点(52%)</div>TX的确存在安全隐患TX的确存在安全隐患TX的确存在安全隐</td>
									<td class="de_ratio"><div class="de_ratio_v" style="height:52%;"><span></span></div></td>
									<th width="60"></th>
									<td class="de_ratio"><div class="de_ratio_s" style="height:48%;"><span></span></div></td>
									<td class="tac f14" style="padding-left:15px;"><div class="b s4 mb5">反方观点(48%)</div>360 TMD无理取闹！</td>
								</tr>
							</table>
						</div>
						<div class="debate_oper mb10">
							<table width="100%">
								<tr>
									<td>&nbsp;</td>
									<td width="60" class="tac"><a href="#" class="">支持</a></td>
									<th width="60"></th>
									<td width="60" class="tac"><a href="#" class="">支持</a></td>
									<td>&nbsp;</td>
								</tr>
							</table>
						</div>
					</div-->
<!--辩论结束-->
<!--分类主题开始-->
					<!--div class="r_cate cc">
						<div class="r_flash fr"></div>
						<table width="100%" style="float:left;">
							<tr class="r_two">
								<th>类别</th>
								<td>婚庆类</td>
							</tr>
							<tr>
								<th>发起时间</th>
								<td>2010-11-11 14:23</td>
							</tr>
							<tr class="r_two">
								<th>截止时间</th>
								<td>2010-11-12 14:23</td>
							</tr>
							<tr>
								<th>人数限制</th>
								<td>100</td>
							</tr>
							<tr class="r_two">
								<th>报名限制</th>
								<td>所有用户</td>
							</tr>
							<tr>
								<th>价格</th>
								<td>￥520</td>
							</tr>
							<tr class="r_two">
								<th>押金</th>
								<td>￥100</td>
							</tr>
							<tr>
								<th>支付方式</th>
								<td>支付宝支付</td>
							</tr>
							<tr class="r_two">
								<th>联系人</th>
								<td>蜘蛛人，章鱼小姐</td>
							</tr>
							<tr>
								<th>手机</th>
								<td>1596-0586-110</td>
							</tr>
						</table>
					</div-->
<!--分类主题结束-->
<!--辩论-->
<!--
EOT;
if($read['lou']!=0 && $special == 'read_debate'){
print <<<EOT
-->
					<div class="cc mb10">
<!--
EOT;
if($read['standpoint']==1){print <<<EOT
-->
						<div class="dig3 fl"><span class="fl">正方支持者</span><div class="fl" onClick="dodebate('votepid_$read[pid]',$tid,$read[pid])">支持:<span id="votepid_$read[pid]">$read[vote]</span></div></div>
<!--
EOT;
}elseif($read['standpoint']==2){print <<<EOT
-->
						<div class="dig4 fl"><span class="fl">反方支持者</span><div class="fl" onClick="dodebate('votepid_$read[pid]',$tid,$read[pid])">支持:<span id="votepid_$read[pid]">$read[vote]</span></div></div>
<!--
EOT;
}else{print <<<EOT
-->
						<div class="dig5 tac fl">我是中立者</div>
<!--
EOT;
}print <<<EOT
-->
					</div>
<!--
EOT;
}print <<<EOT
-->
<!--活动参加按钮-->
<!--
EOT;
if($pcid>0 && $read[lou]==0){
if($read['endtime']<$timestamp){
$joininfo="<span class=\"bt2\"><span><button>已结束</button></span></span>";
}elseif($read['begintime']>$timestamp){
$joininfo="<span class=\"bt2\"><span><button>还没到报名时间</button></span></span>";
}elseif($read['nums']>=$read['limitnum'] && $read['limitnum']){
$joininfo="<span class=\"bt2\"><span><button>人数已满</button></span></span>";
}elseif($read['authorid']==$winduid && $winduid){
$joininfo="";
}elseif($pcuid==$winduid && $winduid){
$joininfo="您已报名<span class=\"btn2\"><span><button type=\"button\" id=\"pcjoin\" onclick=\"sendmsg('pw_ajax.php?action=pcjoin&tid=$tid&authorid=$read[authorid]&pcid=$pcid','',this.id);\">补报</button></span></span>";
}else{
if($winduid){
	$joininfo="<span class=\"btn2\"><span><button type=\"button\" id=\"pcjoin\" onclick=\"sendmsg('pw_ajax.php?action=pcjoin&tid=$tid&authorid=$read[authorid]&pcid=$pcid','',this.id);\">我要报名</button></span></span>";
}else{
	$joininfo="<span class=\"btn2\"><span><button type=\"button\" id=\"pcjoin\" onclick=\"sendmsg('job.php?action=pcjoin&tid=$tid','',this.id);\">我要报名</button></span></span>";
}
}
print<<<EOT
-->
					<div class="mb10">$joininfo</div>
<!--
EOT;
}print<<<EOT
-->
					<table width="100%"><tr><td>
<!--content_read-->
					<div class="tpc_content">
						<div id="p_$read[pid]" class="c"></div>
<!--
EOT;
if($read['lou'] == 0 && $topicvalue && !$read['ifshield'] && !($read['groupid'] == 6 && $db_shield )){print<<<EOT
-->
						$topicvalue
<!--
EOT;
}print<<<EOT
-->
						<div class="f14 mb10" id="read_$read[pid]">
						$read[content]
						</div>
<!--
EOT;
if($read[lou]==0){print<<<EOT
-->
						$orderMemberList
<!--
EOT;
}if($read[lou]==0 && $pcid>0 && $winduid){print<<<EOT
-->
						<div class="f14 mb10"><a name="pcinfo"></a><div id="pc_show"><div style="padding:13px 30px;"><img src="$imgpath/loading.gif" align="absbottom" /> 正在加载数据...</div></div>
						</div>
<script language="javascript">
var isadminright = parseInt('$isadminright');
var payway = parseInt('$payway');
var ifend = parseInt('$ifend');

if (isadminright == 1) {
	var jointype = 1;
} else if (isadminright == 2) {
	var jointype = 2;
} else {
	var jointype = 3;
}

function ajaxview(url) {
	try {ajaxget(url,'pc_show');} catch(e){}
	return false;
}

function ajaxget(url,tag) {
	try {
		ajax.send(url, '', function() {
			if (ajax.request.responseText.indexOf('<') != -1) {
				getObj(tag).innerHTML = ajax.request.responseText;
			}
		});
	} catch(e){}
	return false;
}

window.onReady(function () {
	setTimeout(function(){ajaxget('pw_ajax.php?action=pcmember&pcid=$pcid&tid=$tid&jointype='+jointype+'&payway='+payway+'&ifend='+ifend,'pc_show')},200);
});

function pc_del(pcmid,pcid,jointype,payway) {
	try {
		ajax.send('pw_ajax.php?action=pcdel&pcmid='+pcmid+'&pcid='+pcid+'&jointype='+jointype+'&payway='+payway+'&tid='+tid,'',function() {
			var rText = ajax.request.responseText.split('\t');
			if (rText[0] == 'success') {
				ajaxget('pw_ajax.php?action=pcmember&pcid=$pcid&jointype='+rText[1]+'&tid='+rText[2]+'&payway='+rText[3],'pc_show');
				showDialog('success','操作成功!',2);
			} else if (rText[0] == 'noright') {
				showDialog('error','您没有删除的权限',2);
			} else {
				showDialog('error','非法操作',2);
			}
		});
	return false;
	} catch(e){}
}

function pc_modify() {
	var rText = ajax.request.responseText.split('\t');
	if (rText[0] == 'success') {
		ajaxget('pw_ajax.php?action=pcmember&pcid=$pcid&jointype='+rText[1]+'&tid='+rText[2]+'&payway='+rText[3],'pc_show');
		showDialog('success','操作成功!',2);
	} else if (rText[0] == 'numserror') {
		showDialog('error','数量错误或者不能为0',2);
	} else if (rText[0] == 'pcjoin_more') {
		showDialog('error','您报的人数已超总人数',2);
	} else if (rText[0] == 'pcjoin_pcid_more') {
		showDialog('error','您购买数量已超总数',2);
	} else {
		showDialog('error','非法操作',2);
	}
}

function pc_join() {
	ajaxget('pw_ajax.php?action=pcmember&pcid=$pcid&tid=$tid&jointype='+jointype+'&payway='+payway,'pc_show');
	closep();
}
</script>
<!--
EOT;
}print<<<EOT
-->
					</div>
<!--content_read-->
						</td></tr></table>
					</div>
					<div class="readCon_right">
<!--
EOT;
	if ($ifmagic && $read['lou']==0) {print <<<EOT
-->
						<div class="mb10 cp" id="myshow_pic" style="color:$linkcolor;" onclick="logo_onclick(event);"><img src="http://rs.phpwind.net/{$magicid}T.gif" style="display:block;width:52px;height:52px;text-align:center" title="{$magicname}" />
							<div style="display:inline;text-align:center;white-space:nowrap;"><img id="my_close" src="$imgpath/post/my_close.gif" />重播</div>
						</div>
<!--
EOT;
	}print <<<EOT
-->
<!--
EOT;
	list($htmlAdvert,$arrayAdvert) = pwAdvert('Mode.Forum.Layer.TidRight',$fid,$read[lou]+1);
	if ($htmlAdvert) {print <<<EOT
-->
						<div id="ads_r_$read[pid]">{$htmlAdvert}</div>
<!--
EOT;
	}print <<<EOT
-->
					</div>
                </td>
            </tr>
            <tr>
                <td class="floot_bottom">
<!--
EOT;
if ($read['aid']) {print <<<EOT
-->
					<div id="read_Att_{$read['pid']}">
<!--
EOT;
	if ($read['ifhide']>0) {print <<<EOT
-->
						<blockquote class="blockquote mb10 cc hidden" id="hidden_att_{$read['pid']}">附件设置隐藏，需要回复后才能看到</blockquote>
<!--
EOT;
	} else {
		if ($read['pic']) {print <<<EOT
-->
						<div class="imgList">
<!--
EOT;
			$show_img_all = '';
			if (count($read['pic']) >= $_showSmallImg) {
				$show_img_all = 'none';
print <<<EOT
-->
							<h4>
								<span class="fr gray">
								<a href="javascript:void(0)" onclick="readImg.show('$read[lou]', 0);">幻灯</a> | <a href="javascript:void(0)" id="imgAction_{$read['lou']}_small" class="current" onclick="showAttImg('$read[lou]', 'small')">小图</a> | <a href="javascript:void(0)" id="imgAction_{$read['lou']}_all" onclick="showAttImg('$read[lou]', 'all')">大图</a>
								</span>图片
							</h4>
							<ul class="cc tac" id="imgList_{$read['lou']}_small">
<!--
EOT;
				$i=0;
				foreach ($read['pic'] as $pic) {
					$picTitle = $pic['desc'] ? ' title="描述：' . $pic['desc'] . '"' : '';
					print <<<EOT
-->
								<li><img src="$pic[miniUrl]" src_data="$pic[url]" onclick="readImg.show('$read[lou]', '$i');"{$picTitle} /></li>
<!--
EOT;
					$i++;
				}print <<<EOT
-->
							</ul>
<!--
EOT;
			}print <<<EOT
-->
							<ul class="cc one" style="display:{$show_img_all}" id="imgList_{$read['lou']}_all">
<!--
EOT;
			foreach ($read['pic'] as $pic) {
print <<<EOT
-->
								<li id="att_$pic[aid]">
<!--
EOT;
				if ($pic['desc']) {print <<<EOT
-->
									描述:$pic[desc]<br />
<!--
EOT;
				}print <<<EOT
-->
									图片:$pic[name]<br />$pic[img]
<!--
EOT;
				if ($pic['dfadmin']) {print <<<EOT
-->
									[<a class="cp s4" onclick="delatt('$read[pid]','$pic[aid]');">删除</a>]
<!--
EOT;
				}
print <<<EOT
-->
								</li>
<!--
EOT;

			}print <<<EOT
-->
							</ul>
						</div>
<!--
EOT;
		}
		if ($read['picurl']) {
			foreach ($read['picurl'] as $k => $picture) {
				if ($picture ){print <<<EOT
-->
							<div class="mb10" id="att_$k">远程图片:<a href="job.php?action=showimg&tid={$tid}&pid={$read[pid]}&fid={$fid}&aid={$k}&verify={$picture[verify]}" target="_blank">$picture[name]</a>
<!--
EOT;
					if ($picture['dfadmin']) {print <<<EOT
-->
								[<a style="cursor:pointer" onclick="delatt('$read[pid]','$k');">删除</a>]
<!--
EOT;
					}
print <<<EOT
-->
							</div>
<!--
EOT;
				}
			}
		}
		if ($read['downattach']) {
			foreach ($read['downattach'] as $attach) {
				if ($attach) {
print <<<EOT
-->
							<div class="mb10" id="att_$attach[aid]">
<!--
EOT;
					if ($attach['desc']) {
print <<<EOT
-->
								描述:$attach[desc]<br />
<!--
EOT;
					}
					$att_id = $db_attfg ? "id=\"fg_$attach[aid]\"" : '';
					$mt = md5($attach['size'].$attach['name']);
print <<<EOT
-->
					
								附件: <img src="$imgpath/$stylepath/file/$attach[type].gif" align="absmiddle" /> <a $att_id href="job.php?action=download&aid=$attach[aid]&mt=$mt" onclick="return ajaxurl(this);"> <font color="red">$attach[name]</font></a> ($attach[size] K) 下载次数:$attach[hits]
<!--
EOT;
					if ($attach['needrvrc']) {
						if ($attach['special'] == 2) {
print <<<EOT
-->
								，<span class="mr10">售价:{$attach[needrvrc]}{$attach[cname]}</span><a href="job.php?action=attachbuy&type=record&aid=$attach[aid]" onclick="return ajaxurl(this);" title="查看" class="mr10 s4">[记录]</a>
<!--
EOT;
						} else {print <<<EOT
-->
								，该附件已加密，拥有{$attach[needrvrc]}{$attach[cname]}才能下载
<!--
EOT;
						}
					} elseif (in_array($attach['ext'],array('mp3','wma','wmv','rm','swf'))) {
print <<<EOT
-->
								<a class="cp s4" onclick="playatt('$attach[aid]');">[试播]</a>
<!--
EOT;
					}
					if ($attach['dfadmin']) {
print <<<EOT
-->
								<a class="cp s4" onclick="delatt('$read[pid]','$attach[aid]');">[删除]</a>
<!--
EOT;
					}
					if ($attach['type'] == 'img' && ($attach['dfadmin'] || $attach['special'] != 2 && $attach['isThrough'] || $attach['special'] == 2 && $attach['isBuy'])) {
print <<<EOT
-->
								{$attach['img']}
<!--
EOT;
					}
print <<<EOT
-->
							</div>
<!--
EOT;
				}
			}
		}
	}
print <<<EOT
-->
						</div>
<!--
EOT;
}
if ($viewpic) {print <<<EOT
-->
						<div class="mb10 tips">本主题包含附件，请 <a href="login.php#breadCrumb" class="s4">登录</a> 后查看, 或者 <a href="register.php#breadCrumb" class="s4">注册</a> 成为会员</div>

<!--
EOT;
}
print <<<EOT
-->
<!--评分-->
<!--
EOT;
$stylePingMarkShow = isset($ping_logs[$read['pid']]) ? 'display:' : 'display:none';
if ($_COOKIE['read_hidepinglog']) {
	$stylePingPageShow = 'display:none';
	$pingButton = '显示';
} else {
	$pingButton = '隐藏';
}
print <<<EOT
-->
					<div id="mark_$read[pid]" class="score cc mb10" style="$stylePingMarkShow">
						<div class="scoreTop">
<!--
EOT;
if ($isGM || $pwSystem['pingcp']) {print <<<EOT
-->
							<a href="masingle.php?action=pingcp&fid=$fid&tid=$tid&pid=$read[pid]&rpage=$page" onclick="return sendurl(this,2)" title="管理评分记录" class="fr">评分管理</a>
<!--
EOT;
}print <<<EOT
-->
							<span class="b">本帖最近评分记录：</span>
							<span class="mr10">
								共 <span class="s2" id="pingNum_{$read['pid']}">{$ping_logs[$read['pid']]['count']}</span> 条评分
<!--
EOT;
if ($ping_logs[$read['pid']]['creditCount']) {print <<<EOT
-->
								<span class="s2 pd15">
<!--
EOT;
foreach ($ping_logs[$read['pid']]['creditCount'] as $k => $v) {print <<<EOT
-->
									{$creditnames[$k]} {$v} 
<!--
EOT;
}print <<<EOT
-->
								</span>
<!--
EOT;
}print <<<EOT
-->
							</span>
							<a id="pingHide_{$read['pid']}" href="javascript:void(0);" onclick="pingHideCtrl('{$read['pid']}');">$pingButton</a>
						</div>
						<div class="scoreContent">
              <div id="createpingbox_{$read['pid']}"></div>
							<table width="100%" style="table-layout:fixed;">
								<tbody id="pingPage_{$read['pid']}" style="$stylePingPageShow">
<!--
EOT;
if (isset($ping_logs[$read['pid']]['count']) && $ping_logs[$read['pid']]['count']) {
	foreach ($ping_logs[$read['pid']]['data'] as $pingdata) {
print <<<EOT
-->
								<tr id="pingLogTr_{$pingdata['id']}" class="vt" onmouseover="showPingDelLink(this, true)" onmouseout="showPingDelLink(this, false)">
									<th class="p_face">
                                    	<div id="card_pingUserShow_{$pingdata[id]}_{$pingdata[uid]}" class="userCard"><img src="{$pingdata['icon']}" width="16" height="16" /></div>
										<span id="pingUserShow_{$pingdata['id']}"></span>
									</th>
									<td class="p_name"><a target="_blank" href="u.php?uid={$pingdata['uid']}">{$pingdata['pinger']}</a></td>
									<td width="60">{$pingdata['name']}</td>
									<td class="s2 b" width="40">{$pingdata['point']}</td>
									<td width="90">{$pingdata['pingtime']}</td>
									<td>{$pingdata['record']}</td>
									<td width="20">
<!--
EOT;
		if ($admincheck || ($_G['markable'] && $pingdata['pinger'] == $windid)) {
print <<<EOT
-->
										<a class="adel" style="display:none;" id="pingDel_{$pingdata['id']}" href="javascript:void(0);" onclick="delPingLog('$fid', '$tid', '{$read['pid']}', '{$pingdata['id']}')">删除</a>
<!--
EOT;
		}
print <<<EOT
-->
									</td>
								</tr>
<!--
EOT;
	}
}
print <<<EOT
-->
								</tbody>
							</table>
						</div>
<!--
EOT;
	if ($ping_logs[$read['pid']]['count'] > 10) {
print <<<EOT
-->
                            <!--a id="pingMore_{$read['pid']}" href="javascript:void(0);" onclick="setTimeout(function(){showPingPage('$fid', '$tid', '{$read['pid']}');}, 200);">查看更多</a-->
<!--
EOT;
	}
print <<<EOT
-->
<input id="pingPageNum_{$read['pid']}" type="hidden" value="2" />
<script language="javascript">
getObj('pingPageNum_{$read["pid"]}').value = 2;
</script>
					</div>
					<div id="w_$read[pid]" class="c"></div>
<!--评分结束-->
<!--
EOT;
if($read[pid] == 'tpc'){print <<<EOT
-->
									<div class="userOper">
<!--
EOT;
if($admincheck || $_G['markable']){print <<<EOT
-->
										<a class="r_score" id="showping_$read[pid]" href="operate.php?action=showping&tid=$tid&pid=$read[pid]&page=$page" onclick="return sendurl(this,8)" title="评分">评分</a>
<!--
EOT;
}if($groupid!='guest' && $read['lou']==0){print <<<EOT
-->
										<a class="r_keep" href="apps.php?q=collection&a=favor&type=postfavor&ajax=1&id=$tid"  style="cursor:pointer;" onclick="return ajaxurl(this)" id="favor" title="收藏为私有">收藏</a>
<!--
EOT;
}
if ($groupid != 'guest' && $read['lou']==0){print <<<EOT
-->
										<a class="r_recommend cp" onclick="sendmsg('operate.php?action=toweibo&ajax=1&type=topic&id=$tid','','td_read_$read[pid]');" title="发送到新鲜事">新鲜事</a>
<!--
EOT;
}elseif($groupid != 'guest'){print <<<EOT
-->
										<a class="r_recommend cp" onclick="sendmsg('operate.php?action=toweibo&ajax=1&type=reply&id=$read[pid]&tid=$tid','','td_read_$read[pid]');" title="发送到新鲜事">新鲜事</a>
<!--
EOT;
}print <<<EOT
-->
<!--
EOT;
if($forumset['dig'] && $read['lou']==0 && $_G['dig'] ){print<<<EOT
-->
										<a onclick="dig();" class="r_dig" href="javascript:void(0)" title="推荐此帖到排行榜">推荐：<span id="r_dig">{$read[dig]}</span></a>
<!--
EOT;
}print <<<EOT
-->
									</div>
<!--
EOT;
}
if($read[pid] == 'tpc' && !$forumset[rate] && $rateSets[1] && isset($db_hackdb['rate']) ){
print <<<EOT
-->
						<link rel="stylesheet" type="text/css" href="hack/rate/images/rate.css" media="all" />
						<script language="JavaScript" src="js/rate_ajax.js"></script>
						<div id="vote_box" class="mb10 cc">
<!--
EOT;
$rateIndexObject->getVoting();
print <<<EOT
-->
						</div>
<!--
EOT;
}
if($read['reward']){
print <<<EOT
-->
					<div class="cc">$read[reward]</div>
<!--
EOT;
}
print <<<EOT
-->
<!--
EOT;
if ($db_sharesite == 1 && $read[pid] == 'tpc'){
print <<<EOT
-->
									<div class="shareAll b" style="padding:10px 0; line-height:1.2;">
										推送到：<a title="" href="javascript:d=document;t=d.selection?(d.selection.type!='None'?d.selection.createRange().text:''):(d.getSelection?d.getSelection():'');void(kaixin=window.open('http://www.kaixin001.com/~repaste/repaste.php?&rurl='+escape(d.location.href)+'&rtitle='+escape(d.title)+'&rcontent='+escape(d.title),'kaixin'));kaixin.focus();"><img align="absmiddle" class="mr5" src="$imgpath/share/ico_kaixin.gif" /></a>
										<a title="" href="javascript:void((function(s,d,e){if(/renren\.com/.test(d.location))return;var f='http://share.renren.com/share/buttonshare?link=',u=d.location,l=d.title,p=[e(u),'&title=',e(l)].join('');function%20a(){if(!window.open([f,p].join(''),'xnshare',['toolbar=0,status=0,resizable=1,width=626,height=436,left=',(s.width-626)/2,',top=',(s.height-436)/2].join('')))u.href=[f,p].join('');};if(/Firefox/.test(navigator.userAgent))setTimeout(a,0);else%20a();})(screen,document,encodeURIComponent));"><img class="mr5" align="absmiddle" src="$imgpath/share/ico_renren.gif" /></a>
										<a title="" href="javascript:void(function(){var d=document,e=encodeURIComponent,s1=window.getSelection,s2=d.getSelection,s3=d.selection,s=s1?s1():s2?s2():s3?s3.createRange().text:'',r='http://www.douban.com/recommend/?url='+e(d.location.href)+'&title='+e(d.title)+'&sel='+e(s)+'&v=1',x=function(){if(!window.open(r,'douban','toolbar=0,resizable=1,scrollbars=yes,status=1,width=450,height=330'))location.href=r+'&r=1'};if(/Firefox/.test(navigator.userAgent)){setTimeout(x,0)}else{x()}})()"><img class="mr5" src="$imgpath/share/ico_douban.gif" align="absmiddle" /></a>
										<a title="" href="javascript:(function(){window.open('http://v.t.sina.com.cn/share/share.php?title='+encodeURIComponent(document.title)+'&url='+encodeURIComponent(location.href)+'&source=bookmark','_blank','width=450,height=400');})()"><img class="mr5" src="$imgpath/share/ico_sina.gif" align="absmiddle" /></a>
									</div>
<!--
EOT;
}print <<<EOT
-->
<!--
EOT;
list($htmlAdvert,$arrayAdvert) = pwAdvert('Mode.Forum.Layer.TidDown',$fid,$read[lou]+1);
if($htmlAdvert){print <<<EOT
-->
					<div class="mb10 cc" id="ads_c_$read[pid]">{$htmlAdvert}</div>
<!--
EOT;
}if($read[lou] == 0 && $db_threadrelated && $forumset['ifrelated'] && $relatedb){print <<<EOT
-->
<!--
EOT;
if ($forumset['relatedcon'] == 'oinfo') {print<<<EOT
-->
						<h4 class="b h">个人中心动态</h4>
						<ul class="pw_ulB cc half">
<!--
EOT;
foreach($relatedb as $value){print <<<EOT
-->
							<li><a href="$value[url]" target="_blank">$read[author]</a> $value[title]</li>
<!--
EOT;
}print <<<EOT
-->
						</ul>
<!--
EOT;
} else {print <<<EOT
-->
							<h4 class="b h">相关话题</h4>
							<ul class="pw_ulB cc half">
<!--
EOT;
foreach($relatedb as $value){print <<<EOT
-->
									<li><a href="$value[url]" target="_blank">$value[title]</a></li>
<!--
EOT;
}print <<<EOT
-->
							</ul>
<!--
EOT;
}print <<<EOT
-->
					<div class="c"></div>
<!--
EOT;
}if($db_iftag && $read['tag']){print <<<EOT
-->
					<div class="tal mb10">关键词: {$read[tag]}</div>
<!--
EOT;
}
print <<<EOT
-->

<!--
EOT;
if($read['signature']){
$bannedSignature = getstatus($read['userstatus'], PW_USERSTATUS_BANSIGNATURE);
$dosignature = ($isGM || $pwSystem['bansignature']) ? " onmouseout=\"showSignature('sig{$read[pid]}', false);\" onmouseover=\"showSignature('sig{$read[pid]}', true);\"" : '';
print <<<EOT
-->
					<div class="sigline"></div>
					<div class="pr">
					<div class="signature" style="max-height:{$db_signheight}px;maxHeight:{$db_signheight}px; overflow:hidden;"{$dosignature}>
					<table width="100%"><tr><td>
<!--
EOT;
if(($isGM || $pwSystem['bansignature']) && !$bannedSignature){
print <<<EOT
-->
								$read[signature]<a href="javascript:;" onclick="manageSignature(this.id, '$read[pid]', 0);" id="sig{$read[pid]}" style="display:none;" class="forbid">禁用该用户帖子签名</a>
<!--
EOT;
}elseif(($isGM || $pwSystem['bansignature']) && $bannedSignature){
print <<<EOT
-->							
								<a href="javascript:;" onclick="manageSignature(this.id, '$read[pid]', 1);" id="sig{$read[pid]}" style="display:none" class="forbid">解除屏蔽</a>
<!--
EOT;
}elseif(!$pwSystem['bansignature'] && $bannedSignature){
print <<<EOT
-->								
								
<!--
EOT;
}else{
print <<<EOT
-->	
								$read[signature]
<!--
EOT;
}
print <<<EOT
-->
					</td></tr></table>
						</div>
						</div>
<!--
EOT;
}
print <<<EOT
-->
           <div class="tipBottom cc">
						<div class="fl readbot">
<!--
EOT;
if($read['lou']==0){print <<<EOT
-->
							<a class="r-reply" title="回复此楼" href="javascript:;" onclick="postreply('回 楼主($read[anonymousname]) 的帖子');">回复</a>
<!--
EOT;
}else{print <<<EOT
-->
							<a class="r-reply" title="回复此楼" href="javascript:;" onclick="postreply('回 $read[lou]楼($read[author]) 的帖子');">回复</a>
<!--
EOT;
}print <<<EOT
-->
							<a class="r-quote" href="post.php?action=quote&fid=$fid&tid=$tid&pid=$read[pid]&article=$read[lou]&page=$page" onclick="return sendurl(this,4,'',event)" id="quote_$read[pid]" title="{$quote_title}">引用</a>
<!--
EOT;
if($read[pid] != 'tpc'){print <<<EOT
-->
<!--
EOT;
	if($admincheck || $_G['markable']){print <<<EOT
-->
										<a class="r-score" id="showping_$read[pid]" href="operate.php?action=showping&tid=$tid&pid=$read[pid]&page=$page" onclick="return sendurl(this,8)" title="评分">评分</a>
<!--
EOT;
	}
	if ($groupid != 'guest'){print <<<EOT
-->
										<a class="r-recommend cp" onclick="sendmsg('operate.php?action=toweibo&ajax=1&type=reply&id=$read[pid]&tid=$tid','','td_read_$read[pid]');" title="发送到新鲜事">新鲜事</a>
<!--
EOT;
	}
}
print <<<EOT
-->
						</div>
						<div class="fr">
<!--
EOT;
if ($db_ajax & 4){
	$quote_title = getLangInfo('other','ajax_edit_way');
} else {
	$quote_title = getLangInfo('other','read_quote_info');
}
if(($isGM || $pwSystem['replaytopped']) && $read['lou'] != 0 && !$read['istop'] ){print <<<EOT
-->
							<a href="masingle.php?action=topped&fid=$fid&tid=$tid&pid=$read[pid]&page=$page&lou=$read[lou]" onclick="return sendurl(this,2)" title="帖内置顶" class="mr5">帖内置顶</a><!--
EOT;
}if(($isGM || $pwSystem['replaytopped']) && $read['lou'] != 0 && $read['istop']){print <<<EOT
-->
							<a href="masingle.php?action=topped&fid=$fid&tid=$tid&pid=$read[pid]&step=2&page=$page" onclick="return sendurl(this,2)" title="取消置顶" class="mr5">取消置顶</a><!--
EOT;
}
if($forumset['inspect'] && ($isGM || $pwSystem['inspect'])){print <<<EOT
-->
							<a id="inspect_$read[pid]" href="masingle.php?action=inspect&fid=$fid&tid=$tid&pid=$read[lou]&p=$read[pid]&page=$page" onclick="return sendurl(this,2)"  title="标记版主已阅" class="mr5">已阅</a><!--
EOT;
}
print <<<EOT
-->
							<a onclick="sendmsg('pw_ajax.php?action=report&type=topic&tid=$tid&pid=$read[pid]','',this.id);" title="举报此帖" href="javascript:;" class="mr5">举报</a><a href="javascript:scroll(0,0)" title="顶端">顶端</a>
<!--
EOT;
if($threadright && ($threadright[post][admin] || in_array(0,$threadright[post][other]) || in_array($foruminfo[fid],$threadright[post][other]) || in_array($foruminfo[fup],$threadright[post][other])) || $managecheck ){
	$topped_id = '';if($read['istop'] && !isset($topped_pids[$read['pid']])){
		$topped_id = 'topped_';
		$topped_pids[$read['pid']] = '';
	}
print <<<EOT
-->
							<label for="{$topped_id}pid_{$read['pid']}" class="cp"><input type="checkbox" onclick="replyManage.show('postbatch',this.id)" value="{$read['pid']}" id="{$topped_id}pid_{$read['pid']}" name="selid[]" autocomplete="off">管理</label>
<!-- 
EOT;
}
print <<<EOT
-->
						</div>
             			</div>
                </td>
            </tr>
        </table>
	</div>
<!--
EOT;
}
?>-->