<!--<?php print <<<EOT
-->
<div class="head cc">
<h1 class="list_logo fl"><a href="$db_bbsurl/"><img src="images/wind/logo.png" title="$db_bbsname" /></a></h1>
<div class="list_search fl">
<form action="searcher.php" method="post" id="searchform"><input
	type="hidden" value="$verifyhash" name="verify"> <input
	value="2" class="s_input" type="hidden" name="step"> <input
	value="thread" class="s_input" type="hidden" name="type"
	id="hiddenType">
<div class="fl">
<!--
EOT;
require printEOT('searcher_advanced');
print <<<EOT
--></div>
<div class="search_all">
<div id="searchType">
<ul>
<!--
EOT;
if ($db_search_type) {
	foreach ($db_search_type as $key=>$value) {
print <<<EOT
-->
	<li id="{$key}"><a href="javascript:;">$value</a></li>
	<!--
EOT;
	}
} else {
print <<<EOT
-->
	<li id="thread"><a href="javascript:;">帖子</a></li>
	<li id="diary"><a href="javascript:;">日志</a></li>
	<li id="user"><a href="javascript:;">用户</a></li>
	<li id="forum"><a href="javascript:;">版块</a></li>
	<li id="group"><a href="javascript:;">群组</a></li>
	<!--
EOT;
}
print <<<EOT
-->
<script language="JavaScript">setCurrent('{$type}','thread','current');</script>
</ul>
</div>
<div class="search_high"><a href="javascript:;" id="searchAdvanced">高级搜索</a></div>
<div class="search_bg">
<div class="search_ip"><input value="$keyword" class="s_input"
	type="text" name="keyword"> <span>
<button type="submit">搜 索</button>
</span></div>
</div>
</div>
</form>
</div>
</div>
<!--
EOT;
if($keyword){
	require printEOT('searcher_result');
} else {
	require printEOT('searcher_defaultresult');
}
print <<<EOT
-->
<script type="text/javascript" language="JavaScript" src="js/global.js"></script>
<script type="text/javascript" language="JavaScript" src="js/date.js"></script>
<script type="text/javascript" src="js/searcher.js"></script>
<script type="text/javascript">
EOT;
$type == 'special' && $type = "thread";
print <<<EOT
window.onReady(searcherInit,"$type"); 
</script>
<!--
EOT;
?>-->