<!--<?php
print <<<EOT
-->
<div class="cc">
<link rel="stylesheet" href="js/breeze/editor/style/style.css?{$GLOBALS['wind_repair']}" />
<textarea id="textarea" name="atc_content" class="B_textarea" tabindex="200">{$atc_content}</textarea>
<script src="$db_htmdir/js/face.js"></script>
<script>var BREEZE_BASE_PATH = getBaseUrl() + 'js/breeze/';</script>
<script src="js/breeze/core/base.js"></script>
<script type="text/javascript">
var imageConfig = {
		url : 'pweditor.php?action=image',
		tabs : ['network']
	},
	charset = '$db_charset',
	editor,
	toolbar = [
		'fontSelector sizeSelector br boldIcon italicIcon underlineIcon strikethroughIcon foreColor backColor removeformat',
		'leftIcon centerIcon rightIcon pgformatIcon br olIcon ulIcon indentIcon outdentIcon',
		'hrIcon quoteIcon codeIcon undoIcon br linkIcon unlinkIcon tableIcon redoIcon',
		'faceBtn photoBtn musicBtn videoBtn'
	],
	mini = 'fontSelector sizeSelector boldIcon italicIcon underlineIcon foreColor linkIcon leftIcon centerIcon rightIcon faceBtn photoBtn';
B.require('editor.editor', 'editor.ubb', function(B){
	editor = B.editor(B.$('#textarea'), toolbar, mini);
});
</script>
</div>
<!--
EOT;
?>