/*-------------------------------------
#Description:      post.css
#Version:          v0.5
#Author:           2010-4-29
#Recent:           2010-12-31
-------------------------------------*/
/*box*/
.w_title_ip,.menu_select div,.menu_select .hover{border:1px solid;border-color:#aaa #ddd #ddd #aaa;}
.w_title_ip i,.menu_select div{background:url(c_editor/droparrow.gif) no-repeat right center;padding-right:15px;}

/*postSwitch*/
.postSwitch{height:21px;margin-left:-5px;}
.postSwitch a{display:inline-block;height:20px;line-height:20px;padding:1px 6px;position:absolute;white-space:nowrap;}
.postSwitch a i{display:none;}
.postSwitch a b{display:inline-block;padding-right:16px;background:url(../pwicon/switch.gif) right center no-repeat;margin-right:5px;}
.postSwitch a:hover,.postSwitch_cur a{ text-decoration:none;padding:0 5px;border:1px solid #a6cbe7;background:#fff;}
.postSwitch a:hover b{}
.postSwitch a:hover i,.postSwitch_cur a i{display:inline-block; font-style:normal;color:#248301;}
.postSwitch_cur a{border-bottom:0px none;}

/*h*/
.w_title_ip{float:left;height:25px;line-height:25px;}
.w_title_ip input{width:340px;float:left;border:0;background:#fff;padding:0 5px; font-size:14px;vertical-align:middle;margin-top:5px;}
.w_title_ip i{float:left;margin:0 2px 0;*margin-top:3px;}
.w_input_text{font-style:normal;line-height:18px;padding:0 4px;color:#fff;margin-left:10px; position:absolute;right:-1px;bottom:25px;background:#ff0000;}

#icontab{position:absolute;margin-top:25px;z-index:1;width:230px;margin-left:-229px;}
#icontab div{background:#f7f7f7;border:1px solid #ccc;line-height:100%;}
#icontab div img{float:left;padding:3px;}

#wordtip{position:absolute;margin-top:-26px;margin-left:-144px;line-height:25px;padding:0 5px;width:135px;display:none;}
/*cate select*/
.menu_select{float:left;line-height:25px;height:25px;margin-right:5px;cursor:pointer; font-size:14px;}
.menu_select div{padding-left:10px;background-color:#fff;white-space:nowrap;}
.menu_select ul{height:0;overflow:hidden;float:left;clear:left;padding:0 1px;}
.menu_select li{white-space:nowrap;padding:0 15px 0 10px;}
.menu_select li:hover{background-color:#f2f2f2;}
.menu_select .hover{position:absolute;height:auto;z-index:9999;background:#fff;border-top:0;margin-top:-1px;float:normal;clear:both;padding:0;}

.w_editor_up{background-color:#f8f8f8;padding:5px;}
.w_editor_up td{padding:2px 0 2px 10px;}
.w_editor_up .w_tab_a{padding-left:10px;position:absolute;}
.w_editor_up .w_tab_a li{float:left;margin-right:5px;color:#666;}
.w_editor_up .w_tab_a li a{float:left;display:block;line-height:22px;padding:0 15px;border:1px solid #ddd;color:#666;background-color:#fbf9fa;}
.w_editor_up .w_tab_a li a:hover{background-color:#fff;text-decoration:none;}
.w_editor_up .w_tab_a .none_css a{border:none;background-color:none;line-height:18px;margin-top:2px;}
.w_editor_up .w_tab_a .none_css a:hover{background-color:#f8f8f8;color:#3366cc;}
.w_editor_up .w_tab_a .none_css .wy_tips:hover{color:#666;}



.w_editor_up .w_tab_a .current a{background:#fff;border-bottom:none;color:#333;padding-bottom:1px;}
.w_editor_up_con{background-color:#ffffff;padding:10px;border-top:1px solid #ddd;}
/*edit*/
.w_options{margin-bottom:10px;margin-top:-10px;}
.w_options ul.post_ulA{width:200px;}
.w_options ul.post_ulB li{width:310px;}
.post_ulB em{display:inline-block;width:85px;}
.post_ulB label{ display:inline-block;width:55px;}


/**/
.post_ulA{width:410px;}
.post_ulA li{float:left;width:200px;}
.post_ulA li.one{width:260px;}
.post_more{padding-right:13px;background:url(../wind/index/cate_open.gif) right center no-repeat;}
.post_upmore{background:url(../wind/index/cate_fold.gif) right center no-repeat;}
.post_tips{background:#fffeed;padding:3px 10px;display:inline-block;}