/*a link*/
.radio a{color:#666;}
.radio a:hover{color:#106aa9; text-decoration:underline;}
/*radio*/
.radio h2,.radio{ background:url(radio.png) 0 0 repeat-x;}
.radio{height:170px;border-bottom:1px solid #ccc;border-top:1px solid #ccc;background-color:#fff;min-width:800px;overflow:hidden;}
.radio h2{line-height:30px;height:30px;display:block;padding:0 15px; font-weight:700;background-color:#f6f6f6;border-bottom:1px solid #dfdfdf;}
.radio .li{float:left;width:50%;}
.radioDl{padding:0 0 0 270px;margin:0;}
.radioDl dt{margin:0 0 0 -270px;padding:0;}
.radioDl dt .div{float:left;padding:13px 0 0 10px;}
.radioDl dt .div p{ text-align:center;line-height:25px;}
.radioUl {padding:7px 5px 0;}
.radioUl li{line-height:24px;height:24px;font-size:12px;overflow:hidden;}
.radioBg .view-hover,.radioBg .view-current{min-height:135px;_height:135px;}
