/*alink*/
body{color:#333;background:#f8f7ed;}
#main{background:#ffffff;padding:0 10px;width:940px;_overflow:hidden;}
.foot{border-top:1px solid #e4d5aa;color:#333333;}
a{color:#655234;}
a:hover{text-decoration:underline;}
/*banner*/
#banner_class{background:url(preview.jpg) no-repeat;width:1000px;height:175px; position:relative;overflow:hidden;margin-bottom:0px;margin-left:-30px;}
.bannerBg{width:500px;height:140px;margin:15px 25px 15px 25px;}
.sub{ position:absolute;left:55px;top:30px;right:30px;}
.sub a{color:#975f19;}
.sub .mr5{color:#975f19;}
#banner_class h2{font-size:20px;margin-bottom:5px;font-family: "Microsoft YaHei"; color:#975f19;}
#banner_class p{margin-top:5px;line-height:18px;width:450px;max-height:36px;overflow:hidden;}
/*nav*/
.g_navA{height:30px;background:url(nav_dbg.jpg) no-repeat;margin-left:-10px;}
.g_navA ul{padding-right:20px;padding-top:8px;}
.g_navA li,.g_navA li a{float:left;display:block;}
.g_navA li{ border-right:1px #d0ddbd solid;margin-right:5px;line-height:16px;}
.g_navA li a{margin-left:5px;background-position:right 0;padding:0 17px 0 12px;color:#378f18;font-size:14px;outline:none;_display:inline;}
.g_navA li a:hover{color:#1c6502; text-decoration:none;}
.g_navA .current{ background-position:0 -34px;}
.g_navA .current a{ font-weight:700; background-position:right -34px;color:#1c6502; padding:0 20px 0 15px;}
.g_navA .one{ background-position:left -70px;margin-left:10px;}
.g_navA .one a,.g_navA .one a:hover{ background-position:right -70px;font-size:12px;color:#cc3300;}
.g_navA .fr{margin-top:5px;}
.g_navB {background:url(g_navB.png) no-repeat;}
.g_navB a{color:#333;}
.g_navB a.current{color:#a6352d;}
/*box*/
.g_tA{border:1px solid #e7d9bf;padding:1px;}/*right box*/
.g_tA .bt2{margin:0;}
.g_hB{background:#f1f9e9 url(hB.png) right top no-repeat;font-weight:700; color:#555555;}/*right title*/
.g_hB a{color:#666;}
.g_hA{background:#e1e1e2 url(left_line.jpg) no-repeat;line-height:27px;padding:0 30px;display:block; color:#946213;}/*left title*/

.g_bgA{background:#f5fbf0;}
.g_bgB{background:#faeeee;}

.redlA dl{background:#fff7f5;}/*wirte replay*/

.floot_left{background:#fff7f5;}/*read*/
.dlA .dd .dl{background:#fff7f5;}/*active replay*/

h1{color:#008800;}/*title*/
.ulA li:hover{background:#fff7f5;}
.ulA li.current{background:#faeeee;}/*right list*/

.g_contentA{width:690px;}
.g_sidebarA {width:230px;}

.btn_add2 { position:relative;z-index:1;}

