<!--
<?php

if (empty($block_data['height'])) {
	$block_data['height'] = 400;
}

if ('show' == $block_job) {
print <<<EOT
-->
<div class="fl" style="width:100%;">
	<iframe name="block_{$block_id}_iframe" id="block_{$block_id}_iframe" height="{$block_data[height]}" frameborder="0" allowtransparency="yes" marginheight="0"  marginwidth="0" border="0" style="width:100%;float:left;" src=apps.php?q=stopic&job=showtpc&tid={$block_data[tid]}></iframe>
</div>
<!--
EOT;
} else {
print <<<EOT
-->

<tbody>
	<tr class="tr1 vt">
        	<td width="80" class="td2">模块名称</td>
            <td class="td2"><input type="text" name="block_title" value="$block[title]" class="input input_wa"></td>
	</tr>
	<tr class="tr1 vt">
        	<td class="td2">主题类别</td>
            <td class="td2">
	            	目前支持的类别有：投票、辩论、团购<!-- /活动 -->
            </td>
	</tr>
	<tr class="tr1 vt">
        	<td class="td2">主题ID</td>
            <td class="td2"><input name="tid" type="text" class="input input_wa" value="{$block_data[tid]}" /></td>
	</tr>
	<tr class="tr1 vt">
        	<td class="td2">窗口高度</td>
            <td class="td2"><input name="height" type="text" class="input input_wa" value="{$block_data[height]}" />&nbsp;px</td>
	</tr>
</tbody>

<!--
EOT;
}
?>
-->