<!--<?php
include_once PrintEot('left');
if($msg){print <<<EOT
-->
<div class="admin_tips">$msg</div><br />
<!--
EOT;
}if($admintype=='appset'){
print <<<EOT
-->
<script type="text/javascript" src="{$db_server_url}/statics/common/js/global.js"></script>
<script language="JavaScript">
var server = new PwJs.Server("pwapp");
server.start();
</script>
<!--
EOT;
if(!$isRegister){
print <<<EOT
-->
<div class="nav3 mb10">
	<ul class="cc" id="basictype">
		<li class="current"><a hidefocus="true" href="$basename&admintype=appset">应用首页</a></li>
	</ul>
</div>

<h3 class="h1">在线应用中心状态</h3>
<div class="p10 mb15">
	<p class="mb10">您好，您的在线应用中心还未注册，请先</p>
      <p><span class="btn2"><span><button name="siteinfo" type="button" onclick="location.href='$basename&admintype=register';">注册</button></span></span><span class="bt2"><span><button name="login" type="button" onclick="location.href='$basename&admintype=link';">老帐号登录</button></span></span></p>
</div>

<iframe id="pwapp" name="pwapp" frameborder="0" width="100%" height="600" scrolling="no" src="{$onlineAppListUrl}"></iframe>

<!--
EOT;
}else{
print <<<EOT
-->
<iframe id="pwapp" name="pwapp" frameborder="0" width="100%" height="700" scrolling="no" src="{$loginUrl}"></iframe>
<!--
EOT;
}}elseif($admintype=='register'){
print <<<EOT
-->
<div class="nav3 mb10">
	<ul class="cc" id="basictype">
		<li><a href="$basename&admintype=appset" hidefocus="true">应用首页</a></li>
		<li class="current"><a href="$basename&admintype=register" hidefocus="true">在线注册</a></li>
	</ul>
</div>

<h3 class="h1">在线应用中心注册</h3>

<form action="$basename&admintype=$admintype" method="post">
<input type="hidden" name="step" value="2">
<div class="admin_table mb10">
	<table width="100%" cellpadding="0" cellspacing="0">
		<tr class="tr1">
			<td class="td1">用户名 <span class="s1">*</span></td>
			<td class="td2"><input type="text" class="input input_wa" name="username" /> <span class="gray">用于登录，注册后不可修改</span></td>
		</tr>
		<tr class="tr1">
			<td class="td1">邮箱地址 <span class="s1">*</span></td>
			<td class="td2"><input type="text" class="input input_wa" name="email" /> <span class="gray">请正确填写常用邮箱，注册后不可修改</span></td>
		</tr>
		<tr class="tr1">
			<td class="td1">密码 <span class="s1">*</span></td>
			<td class="td2"><input type="password" class="input input_wa" name="password" /></td>
		</tr>
		<tr class="tr1">
			<td class="td1">确认密码 <span class="s1">*</span></td>
			<td class="td2"><input type="password" class="input input_wa" name="repassword" /></td>
		</tr>
	</table>
</div>
<div class="mb10 tac">
	<span class="btn"><span><button type="submit">提 交</button></span></span>
</div>
</form>
<!--
EOT;
}elseif($admintype=='link'){
print <<<EOT
-->
<div class="nav3 mb10">
	<ul class="cc" id="basictype">
		<li><a href="$basename&admintype=appset" hidefocus="true">应用首页</a></li>
		<li class="current"><a href="$basename&admintype=link" hidefocus="true">重新登录</a></li>
	</ul>
</div>

<h3 class="h1">关联帐号</h3>

<form action="$basename&admintype=$admintype" method="post">
<input type="hidden" name="step" value="2">
<div class="admin_table mb10">
	<table width="100%" cellpadding="0" cellspacing="0">
		<tr class="tr1">
			<td class="td1">用户名 <span class="s1">*</span></td>
			<td class="td2"><input type="text" class="input input_wa" name="username" /></td>
		</tr>
		<tr class="tr1">
			<td class="td1">密码 <span class="s1">*</span></td>
			<td class="td2"><input type="password" class="input input_wa" name="password" /></td>
		</tr>
	</table>
</div>
<div class="mb10 tac">
	<span class="btn"><span><button type="submit">提 交</button></span></span>
</div>
</form>
<!--
EOT;
}elseif($admintype=='onlineapp'){
if (empty($db_appifopen)) {print <<<EOT
-->
<form action="{$basename}" method="post">
<input type="hidden" name="admintype" value="open" />
<div class="admin_info mb10">
	<h2 class="h1">会员应用</h2>
    <div class="legend">
会员应用包括多个游戏、便民、交互模块，可以帮助您提高站点的娱乐交互性，从而提高站点用户粘性。这些模块由第三方app提供商和phpwind共同开发，按照phpwind论坛标准与用户习惯接入，从而确保每一个pw论坛的无缝体验。部分模块的部分功能可能需要论坛用户充值方可使用；作为应用的载体，当用户在您的站点产生消费时，您也将获得一定分成。 <a href="  http://faq.phpwind.net/topic-58" target=blank>了解更多</a>
    </div>
</div>
<div class="p10">
    <span class="bt2"><span><button type="submit" onfocus="blur();">开启应用</button></span></span>
</div>
</form>
<!--
EOT;
} else {print <<<EOT
-->
<div class="admin_info mb10">
	<h2 class="h1">会员应用</h2>
    <div class="legend">
    	<ol>
        	<li>当站点应用使用异常时，你可以使用数据更新操作将站点信息更新到app应用平台。</li>
            <li>关闭应用之后，所有用户应用都将无法使用。</li>
        </ol>
    </div>
</div>
<div class="mb10">
    <form action="{$basename}" method="post">
    <input type="hidden" name="admintype" value="open" />
	<input type="hidden" name="updatelist" value="1" />
    <span class="bt2"><span><button type="submit" onfocus="blur();">数据更新</button></span></span>
    </form>
    <form id="close" action="{$basename}" method="post">
    <input type="hidden" name="admintype" value="close" />
    <span class="bt2"><span><button type="button" onClick="appcheck();">关闭应用</button></span></span>
    </form>
<script language="JavaScript">
function appcheck(){
	var obj = document.getElementById('close');
	if(confirm('将关闭整站所有APP应用，“应用中心 > 在线应用”的“随拍随发”应用也将自动关闭，确认操作？')) {
		obj.submit();
	}
}
</script>
</div>
<h2 class="h1">应用列表</h2>
<script type="text/javascript" src="{$db_server_url}/js/global.js"></script>
<script language="JavaScript">
var server = new PwJs.Server("pwapp");
server.start();
</script>
<iframe id="pwapp" name="pwapp" frameborder="0" width="100%" height="400" scrolling="no" src="{$appurl}"></iframe>
<!--
EOT;
}}elseif($admintype=='blooming'){
print <<<EOT
-->
<script type="text/javascript" src="http://app.phpwind.net/static/js/client.js"></script>
<script language="JavaScript">
var server = new PwJs.Server("pwapp");
server.start();
</script>
<iframe id="pwapp" name="pwapp" frameborder="0" width="100%" height="600" scrolling="no" src="{$appurl}"></iframe>
<!--
EOT;
}elseif($admintype=='taolianjie'){
print <<<EOT
-->
<script type="text/javascript" src="http://app.phpwind.net/static/js/client.js"></script>
<script language="JavaScript">
var server = new PwJs.Server("pwapp");
server.start();
</script>
<iframe id="pwapp" name="pwapp" frameborder="0" width="100%" height="600" scrolling="no" src="{$appurl}"></iframe>
<!--
EOT;
}elseif($admintype=='i9p'){
if (empty($db_appifopen)) {print <<<EOT
-->
<form action="{$basename}" method="post">
<input type="hidden" name="admintype" value="$admintype" />
<input type="hidden" name="step" value="2" />
<div class="admin_info mb10">
	<h2 class="h1">功能说明</h2>
    <div class="legend">
    	开启“随拍随发”应用必须先开启“会员应用”，“会员应用”可选择单独在论坛模式或个人中心下展示。是否现在为您开启“会员应用” 和“随拍随发”？ 会员应用包括多个游戏、便民、交互模块，可以帮助您提高站点的娱乐交互性，从而提高站点用户粘性。这些模块由第三方app提供商和phpwind共同开发，按照phpwind论坛标准与用户习惯接入，从而确保每一个pw论坛的无缝体验。部分模块的部分功能可能需要论坛用户充值方可使用；作为应用的载体，当用户在您的站点产生消费时，您也将获得一定分成。 <a href="  http://faq.phpwind.net/topic-58" target=blank>了解更多</a> 
    </div>
</div>
<h2 class="h1">随拍随发</h2>
<div class="p10 mb10">
    <span class="bt2"><span><button type="submit">开启应用</button></span></span>
</div>
</form>
<!--
EOT;
} else {print <<<EOT
-->
<script type="text/javascript" src="http://app.phpwind.net/static/js/client.js"></script>
<script language="JavaScript">
var server = new PwJs.Server("pwapp");
server.start();
</script>
<iframe id="pwapp" name="pwapp" frameborder="0" width="100%" height="600" scrolling="no" src="{$appurl}"></iframe>
<!--
EOT;
}
}elseif($admintype=='sinaweibo'){
print <<<EOT
-->
<script type="text/javascript" src="http://app.phpwind.net/static/js/client.js"></script>
<script language="JavaScript">
var server = new PwJs.Server("pwapp");
server.start();
</script>
<iframe id="pwapp" name="pwapp" frameborder="0" width="100%" height="600" scrolling="no" src="{$appurl}"></iframe>
<!--
EOT;
}elseif($admintype=='yunstatistics'){
print <<<EOT
-->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<style>
body,html{overflow:hidden;}
body,html,iframe{padding:0;margin:0;width:100%;height:100%;}
</style>
</head>
<body>
<iframe id="pwapp" scrolling="auto" name="pwapp" frameborder="0" src="$yunStatisticsUrl"></iframe>
</body></html>
<!--
EOT;
}include_once PrintEot('adminbottom');
?>-->