<!--<?php
include_once PrintEot('left');
if ($adminitem == 'userstats'){
print <<<EOT
-->
<div class="nav3 mb10">
	<ul class="cc">
		<li class="current"><a href="$admin_file?adminjob=userstats&adminitem=userstats">成员统计</a></li>
		<li><a href="$admin_file?adminjob=userstats&adminitem=editgroup">批量添加</a></li>
	</ul>
</div>
<h2 class="h1">用户组成员统计</h2>
<div class="admin_table mb10">
<table width="100%" cellspacing="0" cellpadding="0">
<!--
EOT;
foreach($groupnum as $group){print <<<EOT
-->
	<tr class="tr1 vt">
		<td class="td1">$group[2]</td>
		<td class="td2" width="100">$group[0](个)</td>
		<td class="td2">
<!--
EOT;
if ($group[0]) {
if($group[1]=='-1'){print <<<EOT
-->
			[<a href="$admin_file?adminjob=usermanage&adminitem=edit&action=search&groupid=$group[1]" onclick="parent.PW.Dialog({id:'usermanage',url:'$admin_file?adminjob=usermanage&adminitem=edit&action=search&groupid=$group[1]&orderway=username',name:'用户管理'});return false;">查看用户组会员</a>]
<!--
EOT;
}else{ print <<<EOT
-->
			[<a href="$admin_file?adminjob=usermanage&adminitem=edit&action=search&groupid=$group[1]&orderway=username" onclick="parent.PW.Dialog({id:'usermanage',url:'$admin_file?adminjob=usermanage&adminitem=edit&action=search&groupid=$group[1]&orderway=username',name:'用户管理'});return false;">查看用户组会员</a>]
<!--
EOT;
}}else{ print <<<EOT
-->
&nbsp;
<!--
EOT;
}print <<<EOT
-->
		</td>
	</tr>
<!--
EOT;
}print <<<EOT
-->
</table>
</div>
<!--
EOT;
}elseif($adminitem=='editgroup'){
if (empty($action)){
print <<<EOT
-->
<div class="nav3 mb10">
	<ul class="cc">
		<li><a href="$admin_file?adminjob=userstats&adminitem=userstats">成员统计</a></li>
		<li  class="current"><a href="$admin_file?adminjob=userstats&adminitem=editgroup">批量添加</a></li>
	</ul>
</div>
<div class="admin_info mb10">
	<h3 class="h1"><b>提示信息</b></h3>
	<div class="legend"><ol><li>可以批量添加用户组成员</li><li>先选择要编辑的用户组名称，再在文本框中输入要加入该用户组的会员名，然后提交 ( 多个会员名之间用","分隔)</li><li>用此功能批量禁言用户,禁言类型为<font color=blue>永久禁言</font>,要使用<font color=blue>定期禁言</font>请到会员禁言功能设置</li></ol></div>
</div>
<form action="$basename" method=post>
<input type="hidden" name=action value='add'>
<h2 class="h1"><b>添加用户组成员</b></h2>
<div class="admin_table mb10">
	<table width="100%" cellspacing="0" cellpadding="0">
		<tr class="tr1 vt">
			<td class="td1">用户组</td>
			<td class="td2"><select name="gid" class="select_wa">$groupselect</select></td>
		</tr>
		<tr class="tr1 vt">
			<td class="td1">用户组成员</td>
			<td class="td2"><textarea name="members" class="textarea"></textarea></td>
		</tr>
	</table>
</div>
<div class="tac mb10">
	<span class="btn"><span><button  type="submit">提 交</button></span></span>
</div>
<!--
EOT;
}}print <<<EOT
-->
</form>
<!--
EOT;
include_once PrintEot('adminbottom');
?>-->