<!--<?php print <<<EOT
--> <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{$db_bbsname} - powered by phpwind.net</title>
<meta http-equiv="Content-Type" content="text/html; charset=$db_charset" />
<meta http-equiv="expires" content="0">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="x-ua-compatible" content="ie=7" />
<meta http-equiv="Cache-Control" content="no-cache">
<base />
<link rel="stylesheet" type="text/css" href="{$db_bbsurl}/images/admin/admin_style.css" />
</head>
<body>
<div style="position: absolute; z-index:10;left:400px; visibility: visible; top:160px;"> 
<div class="tip_wind">
    <dl class="cc">
        <dt></dt>
        <dd style="padding-top:35px">
		<p></p>
		<p>
		{$message}
		</p>
        </dd>
    </dl>
</div>
</div>
</body>
</html>
<!--
EOT;
?>-->