.mb10{margin-bottom:10px;}
.mb5{margin-bottom:5px;}
.mr10{margin-right:10px;}
.mr5{padding-right:5px;}
.lh_22{line-height:22px;height:22px;overflow:hidden;}
.input_wa{width:152px;}
.input_wb{width:332px;}
.input_wc{width:67px;}
.textarea{width:332px;height:62px;overflow:auto;background:#fff;line-height:1.3;}
/*pop*/
.popoutContent .admin_table table{table-layout:auto;}
.popoutContent{background:#ffffff;border:1px solid #76a9dc;}
.bgcorner1,.bgcorner2,.bgcorner3,.bgcorner4,.pobg1,.pobg2,.pobg3,.pobg4{filter:Alpha(opacity=39);_filter:Alpha(opacity=39);opacity:.39;overflow:hidden;z-index:1005;line-height:0 }
.bgcorner1,.bgcorner2,.bgcorner3,.bgcorner4{width:5px;height:5px;background:#5692ce;}
.pobg1,.pobg2,.pobg3,.pobg4{ background:#5692ce;}
.pobg1{height:5px; }
.pobg2{width:5px;}
.pobg3{height:5px;}
.pobg4{width:5px;}
.admin_table table{}
.admin_table .tr1{}
.admin_table .tr1:hover .td1,.admin_table .tr1:hover .td3{background:#ecf3f9;}
.admin_table .tr1:hover .td2{background-color:#f4f8fc;}
.admin_table .tr2 td{padding:7px 15px 4px;border-bottom:1px solid #dde9f5;}
.admin_table .tr3 td{padding:8px 0 6px 15px;}
.admin_table .td1,.admin_table .td2,.admin_table .td3{padding:8px 5px 8px 15px;border-bottom:1px solid #dde9f5;line-height:22px;}
.admin_table .td1,.admin_table .td3{width:140px;color:#333;background:#f4f8fc;}
.admin_table table a{color:#336699;}
.td_bgA td{background:#f1faff;}
.pwC_h{line-height:25px;height:25px;border-top:1px solid #cbdaea;background:#eaf2fa;margin:0;padding:0 15px; font-size:14px; font-weight:700;border-bottom:1px solid #deeaf7;color:#333;}
.pwC_h select,.pwC_h input{ font-size:12px; font-weight:100;}
.pwC_h img{margin-top:5px; cursor:pointer;}
.pwC_h .linka{margin-left:20px; font-size:12px; font-weight:100;padding:0;}
.pwC_h a{color:#336699;}

.pwC_nav_a{height:23px;border-bottom:1px solid #cbdaea;padding-top:8px;}
.pwC_nav_a ul{ position:absolute;padding-left:10px;}
.pwC_nav_a li{float:left;margin-right:3px;}
.pwC_nav_a li a{float:left;display:block;border:1px solid #cbdaea;padding:0 5px;line-height:22px;background:#f7fbff;}
.pwC_nav_a li a:hover{ text-decoration:none;color:#336699;}
.pwC_nav_a li.current a{border-bottom:0px;background:#fff;height:23px;}

.pwC_search{padding:5px 10px;background:#fff7df;margin:5px 5px 0;border:1px solid #f6ebc8; text-align:center;}
.pwC_search select{ vertical-align:middle;}
.pwC_search a{ color:#336699; text-decoration:underline;}
.pwC_content_a{width:700px;padding-bottom:10px;max-height:350px;overflow:hidden;overflow-y:auto;_height:350px;border-bottom:1px solid #dde9f5;}
/*color_class*/
.pwnew span{float:left;margin-right:5px;}
.pwnew a{padding:0 5px;margin:0;display:block;height:19px;float:left;line-height:19px;border:1px solid #cae2f2;color:#333333;cursor:pointer; font-family:Verdana, Geneva, sans-serif;background:#fff;font-weight:100;}
.pwnew a:hover{border:1px solid #336699;background:#336699;color:#ffffff; text-decoration:none;}
.pwnew .one,.pwnew .one:hover{border:1px solid #336699;background:#336699;color:#ffffff;}
.pwnew .two{background:url(menu-down.gif) right center no-repeat;cursor:pointer;padding:0 14px 0 3px;}
.pwnew .two:hover{border:1px solid #cae2f2;background-color:#cae7fb;}
.pwnew .two img{padding-top:1px;}
.pwnew #color_show{width:30px;border:1px solid #cae2f2;float:left;height:19px;background:#ffffff;cursor:pointer;}
/*table head*/
.view-current{position:relative;background:#ffffdb;*display:inline;padding:0;margin:0;}
.view-bg{border:solid 1px #F60;}
.view-hover{*display:inline}
.view-hover .open-none{display:none;}
.view-current .open-none{display:inline;}

.btn{border-color:#3366cc;color:#fff;background:#3366cc;}
.bt{border-color:#e4e4e4;color:#333;background:#f0f0f0;}
.btn,.bt{border-width:1px;cursor:pointer;padding:.1em 1em;*padding:0 1em;font-size:9pt; line-height:130%; overflow:visible;margin:0 3px;}
.input{border: 1px solid; border-color: #c0c0c0 #ededed #ededed #c0c0c0;padding:2px 0px 2px 1px;font-size:1.0em;vertical-align:middle;color:#000;}
select{vertical-align:middle;margin-bottom:1px;}
textarea{border: 1px solid; border-color: #c0c0c0 #ededed #ededed #c0c0c0;}
#Calendar .h{line-height:25px;height:25px;border-top:1px solid #cbdaea;background:#eaf2fa;padding:0 8px;font-size:12px;border-bottom:1px solid #deeaf7;color:#555;}

/*menu*/
.menu{position:absolute;background:#fff;border:1px solid #d7e6f2;}
.menu a{display:block;padding:4px 8px;}
.menu-post{border:1px solid #a6cbe7;}
.menu-post .menu-b{background:#ffffff;border:3px solid #d5e6ed;}
.menu-half li{width:46%;float:left;}
.menu-half li a{float:left;}
.user-table td{padding:1em 1em .5em 2em;}

.list_A{}
.list_A li{height:22px;line-height:24px;overflow:hidden; cursor:default;}
.list_A .current,.list_B .current{color:#008800;}
.list_A input,.list_B input{margin-right:3px;*margin-right:0px;margin-top:-3px;}
.list_80{}
.list_80 li{width:80px;float:left;}

/*span color*/
.s3{color:#008800;}/*green*/