/*-------------------------------------
#Description:      toolbar.css
#Version:          v0.1
#Author:           2010-4-12 10:30
#Recent:           2010-4-12
-------------------------------------*/
.startbar-wrapper{width:100%;position:fixed;bottom:0;z-index:1000;height:25px;_position: absolute;_top: expression(documentElement . scrollTop +   documentElement . clientHeight-this . offsetHeight);}
.startbar{margin-left:22px;margin-right:15px;}
.startbar-ui{position:relative;height:24px;border:1px solid #8ebcc7;border-bottom:0;background:#e2f2f8 url(startbar.png) repeat-x;}
.startbar-ui a{color:#333;}

.app-using{float:left;overflow:hidden;height:23px;}
.app-using a{float:left;background:url(pwicon/app-upicon.png) no-repeat;height:23px;line-height:23px;padding:0 10px 0 30px;}
.app-using .app-blog{background-position:10px 4px;}
.app-using .app-post{background-position:10px -16px;}
.app-using .app-photo{background-position:10px -36px;}
.app-using .app-group{background-position:10px -56px;}
.app-using .app-shares{background-position:10px -76px;}
.app-using .app-thread{background-position:10px -96px;}
.app-using .app-forum{background-position:10px -116px;}
.app-using .app-diary{background-position:10px -136px;}

.app-butt,.app-f,.app-m{cursor:pointer;height:24px;display:block;line-height:24px; padding-left:30px; padding-right:10px }
.app-butt{border-right:1px solid #8ebcc7;background:url(pwicon/app-menu.png) no-repeat 8px 5px;}
.app-f{border-left:1px solid #8ebcc7;background:url(online.png) no-repeat 10px 5px;}
.app-m{border-left:1px solid #8ebcc7;background:url(pwicon/meg-read.gif) no-repeat 10px 7px;}
.app-m-new{background:url(pwicon/meg.gif) no-repeat 10px 4px;color:#ff5500;}
.app-current{z-index:1002;position:absolute;background-color:#f4fafb;border:1px solid #8ebcc7; margin-top:-1px;border-top:0;}
.mes-height{line-height:25px;height:120px;overflow:hidden;}
.startbar-menuleft{left:-1px;width:250px;}
.startbar-menuright{width:300px;}
.u-postlist-s .pwb_mess{line-height:30px;*line-height:32px;_line-height:30px;cursor: pointer;}
a.app-us-current{cursor:pointer;position:absolute;background-color:#f4fafb;border:1px solid #8ebcc7;border-top:0;margin-left:-1px;}
.startbar-open,.startbar-close{cursor:pointer;height:25px;width:22px;background:url(pwicon/startbar.gif) 6px 5px no-repeat;_position:absolute;z-index:1;left:0;display:block;text-indent:-2000em;}
.startbar-close{ background-position:6px -25px;}
.menu-thread-bottom,.menu-post-bottom{position:fixed;_position:absolute;bottom:24px;border:none;}
.listAppItem{background:#ffffff;}
.listAppItem ul{padding:5px 10px;}
.listAppItem li{line-height:24px;height:24px;overflow:hidden;}
.listAppimg{background:#ffffff;overflow:hidden;}
.listAppimg ul{margin-bottom:-1px;}
.listAppimg li{line-height:25px;padding:5px 10px;border-bottom:1px solid #e8e8e8;}
.listAppimg li img{vertical-align:middle;width:20px;height:20px;padding:1px;background:#ffffff;border:1px solid #e5e5e5;margin-right:5px;}
a.gray{color:#999;}
.sbar-box-a{border:1px solid #8ebcc7;background-color:#f4fafb;}
.forum-list-popout { max-height:400px;_height:400px;overflow:auto;}
.forum-list-popout a:hover{text-decoration:none;}
.forum-list-popout dl{border-top:1px solid #dedede;line-height:24px;margin-top:-1px;}
.forum-list-popout a{background:none;padding:0;height:auto;}
.forum-list-popout dt{height:30px;line-height:30px;padding:0 10px;border-bottom:1px solid #dedede;background:#fafafa;_width:100%;}
.forum-list-popout dt a{display:inline;color:#555; text-decoration:underline;}
.forum-list-popout dd{padding:5px 10px;_width:100%;}
.forum-list-popout dd a{width:11em;margin-right:1em;float:left;display:inline;text-decoration:underline;color:#3566cc;}
.menu-post-bottom dt a{color:#555; cursor:text; text-decoration:none;}
.sbar-title{cursor: pointer;padding:5px 10px;}
.sbar-title .b,.sbar-title .b a{color:#6fa4b7; font-size:14px;}
.sbar-title a{color:#999; text-decoration:underline;}
.sbar-box-b{border:1px solid;border-color: #b8b8b8 #dedede #dedede #b8b8b8;background:#ffffff;margin:0 10px 15px;}
.startbar-menuleft,.startbar-menuright{right:-1px;_right:-2px;background-color:#f4fafb;position:absolute;bottom:24px;border:1px solid #8ebcc7;z-index:1001;}
.startbar-ui h6{padding:0 10px;line-height:24px;border-top:1px solid #dedede;border-bottom:1px solid #dedede;background:#fafafa;}