html {font-size:12px;}
body, div, dl, dt, dd, ul, ol, li,
h1, h2, h3, h4, h5, h6, pre, code,
form, fieldset, legend, input, button,
textarea, p, blockquote, th, td {margin: 0;padding: 0;}
img {border: 0;}
cite,em,strong,th{font-style: inherit;font-weight: inherit;}
h1, h2, h3, h4, h5, h6 {font-size: 100%;font-weight: normal;}
input,button,textarea,select{font-family: inherit;font-size: inherit;font-style: inherit;font-weight: inherit;}
input,button,textarea,select{*font-size: 100%;}
body {line-height: 1.5;font-size:12px;}
ol, ul {list-style: none;}
table {border-collapse: collapse;border-spacing: 0;}
th{text-align: left;}
blockquote{quotes: none;}
blockquote:before,blockquote:after,{content: '';content: none;}
:link, :visited {text-decoration: none;}
td,th,div{word-break:break-all;word-wrap:break-word}
form{display:inline;}
*{outline:none}
/*清除浮动 代码*/
.cc{*zoom:1;}
.cc:after{content:'\20';display:block;height:0;clear:both;visibility: hidden;}
.c{clear:both;font:0px/0px Arial;overflow:hidden;height:0;width:0;}
/*通用样式*/
.b{ font-weight:700;}
.w{white-space:nowrap}
.tal{text-align:left}
.tac{text-align:center}
.tar{text-align:right}
.fr{float:right}
.fl{float:left}
.pr{position:relative}
.cp{cursor:pointer;}
.vt,.vt td{vertical-align:top}
/*字体大小*/
.f9{font-size:10px;}
.f10,small,.small{font-size:11px;}
.f12{font-size:12px}
.f14{font-size:14px}
.f16{font-size:16px;}
.f20{font-size:20px;}
.f24{font-size:24px;}
.fn,.fn a{font-weight:normal}
.aimg{display:block;text-indent:-2000em;}
html{background-image:url(about:blank);background-attachment:fixed;}
/*头部*/
.img-20{width:16px;height:16px;}
.topbar{background:#eaeaea url(topbar.png) 0 bottom repeat-x;height:28px;overflow:hidden;}
#nav-operate{border-top:0;padding:4px 0 2px;width:$tablewidth;margin:auto;width:98%;}
#nav-operate a{margin-right:5px;color:#333333;}
#nav-operate li{float:left;margin-left:1em;zoom:1;}
#nav-operate li a{margin-right:0;white-space:nowrap;vertical-align:baseline;}
/*pop*/
.popoutContent{background:#ffffff;border:1px solid #bbbbbb;}
.bgcorner1,.bgcorner2,.bgcorner3,.bgcorner4,.pobg1,.pobg2,.pobg3,.pobg4{filter:Alpha(opacity=39);_filter:Alpha(opacity=39);opacity:.39;overflow:hidden;z-index:1005;line-height:0 }
.bgcorner1,.bgcorner2,.bgcorner3,.bgcorner4{width:5px;height:5px;background:#bbbbbb;}
.pobg1,.pobg2,.pobg3,.pobg4{ background:#bbbbbb;}
.pobg1{height:5px; }
.pobg2{width:5px;}
.pobg3{height:5px;}
.pobg4{width:5px;}
/*pop content*/
.popTop{padding:5px 10px 3px 18px;font-weight:700;font-size:14px;color:#333;border-bottom:1px solid #d9e5f2;background:#eaf2fa;}
.popTop select,.popTop input{ font-size:12px;}
.popBottom{padding:5px 10px;background:#f7f7f7;border-top:1px solid #e4e4e4;text-align:right;}
.popCont{margin:40px 0 60px;line-height:2;color:#333; text-align:center;}
.popoutContent table{width:100%;}
.popTop .adel{margin-top:4px;}
.popoutContent td{padding:5px 0 5px 10px;}
/*a link del*/
a.adel,a.aedit,.g_photosbox .updel{background:url(del.png) 9999px 9999px no-repeat;width:12px;height:13px;text-indent:-2000em;display:block;overflow:hidden;float:right;padding:0;-webkit-transition: all 0.2s ease-out;}
a.adel,.g_photosbox .updel{ background-position:0 -15px}
a.adel:hover,.g_photosbox .updel:hover{ background-position:-34px -15px;}
a.aedit{ background-position:0 0;}
a.aedit:hover{ background-position:-34px 0;}
/*button*/
span.btn ,span.bt ,span.btn2 ,span.bt2 ,span.bts ,span.btn span ,span.bt span ,span.btn2 span ,span.bt2 span ,span.bts span{background:url(button.png) 9999px 9999px;}
span.btn ,span.bt ,span.btn2 ,span.bt2 ,span.bts {padding:0 2px 0 0;zoom: 1;display: inline-block;vertical-align: middle; cursor: pointer; _display: inline;margin:0 3px;}
span.btn button ,span.bt button ,span.btn2 button ,span.bt2 button ,span.bts button{display:block;overflow:visible;width:auto;_width:0;border:0 none;background:none;text-decoration:none;vertical-align:middle;white-space:nowrap;cursor:pointer;}
span.btn span,span.bt span,span.bts span{display: block;padding:0 11px 0 13px;*padding:0 13px 0 15px;}
span.btn button,span.bt button,span.bts button{height:27px;margin:0 -16px;padding:0 16px;line-height:27px;font-size:14px;font-weight:700;padding-bottom:4px;_padding-bottom:0px;}
span.btn2 span,span.bt2 span{display: block;padding:0 5px 0 7px;*padding:0 7px 0 9px;}
span.btn2 button,span.bt2 button{height:21px;margin:0 -9px;padding:0 10px;line-height:21px;padding-bottom:4px;_padding-bottom:0px;}
span.btn{background-position:right 0;}
span.btn span{background-position:0 0;}
span.btn2{background-position:right -60px;}
span.btn2 span{background-position:0 -60px;}
span.bt{ background-position:right -30px;}
span.bt span{ background-position:left -30px;}
span.bt2{ background-position:right -85px;}
span.bt2 span{ background-position:left -85px;}
span.bts{ background-position:right -110px;}
span.bts span{ background-position:0 -110px;}
span.btn button,span.btn2 button{color:#ffffff;}
span.bt button,span.bt2 button{color:#555555;}
span.bts button{color:#cd4604;}
/*底部工具栏*/
.app-using{float:left;overflow:hidden;height:23px;}
.app-using a{float:left;background:url(pwicon/app-upicon.png) no-repeat;height:23px;line-height:23px;padding:0 10px 0 30px;}
.app-using .app-blog{background-position:10px 4px;}
.app-using .app-post{background-position:10px -16px;}
.app-using .app-photo{background-position:10px -36px;}
.app-using .app-group{background-position:10px -56px;}
.app-using .app-shares{background-position:10px -76px;}
.app-using .app-thread{background-position:10px -96px;}
.app-using .app-forum{background-position:10px -116px;}
.app-using .app-diary{background-position:10px -136px;}

.startbar-ui{position:relative;height:24px;border:1px solid #8ebcc7;border-bottom:0;background:#e2f2f8 url(startbar.png) repeat-x;}
.startbar-ui a{color:#333;}
.sbar-title{cursor: pointer;padding:5px 10px;}
.sbar-title .b,.sbar-title .b a{color:#6fa4b7; font-size:14px;}
.sbar-title a{color:#999; text-decoration:underline;}
.sbar-box-a{border:1px solid #8ebcc7;background-color:#f4fafb;}
.sbar-box-b{border:1px solid;border-color: #b8b8b8 #dedede #dedede #b8b8b8;background:#ffffff;margin:0 10px 15px;}
.startbar-menuleft,.startbar-menuright{right:-1px;_right:-2px;background-color:#f4fafb;position:absolute;bottom:24px;border:1px solid #8ebcc7;z-index:1001;}
a.app-us-current{cursor:pointer;position:absolute;background-color:#f4fafb;border:1px solid #8ebcc7;border-top:0;margin-left:-1px;}
.startbar-ui h6{padding:0 10px;line-height:24px;border-top:1px solid #dedede;border-bottom:1px solid #dedede;background:#fafafa;}
.menu-thread-bottom .menu-hidden,.menu-post-bottom .menu-hidden{background-image:url(wind/index/cate_open.gif);}

.startbar-wrapper{width:100%;position:fixed;bottom:0;z-index:1000;height:25px;_position: absolute;
	_top: expression(documentElement . scrollTop +   documentElement .
		clientHeight-this . offsetHeight);}
.startbar{margin-left:22px;margin-right:15px;}

.app-butt,.app-f,.app-m{cursor:pointer;height:24px;display:block;line-height:24px; padding-left:30px; padding-right:10px }
.app-butt{border-right:1px solid #8ebcc7;background:url(pwicon/app-menu.png) no-repeat 8px 5px;}
.app-f{border-left:1px solid #8ebcc7;background:url(online.png) no-repeat 10px 5px;}
.app-m{border-left:1px solid #8ebcc7;background:url(pwicon/meg-read.gif) no-repeat 10px 7px;}
.app-m-new{background:url(pwicon/meg.gif) no-repeat 10px 4px;color:#ff5500;}
.app-current{z-index:1002;position:absolute;background-color:#f4fafb;border:1px solid #8ebcc7; margin-top:-1px;border-top:0;}
.mes-height{line-height:25px;height:120px;overflow:hidden;}
.startbar-menuleft{left:-1px;width:250px;}
.startbar-menuright{width:300px;}
@media all and (min-width: 0px){.startbar-menuright{position:fixed;right:15px; }	.startbar-menuleft{position:fixed;left:22px;}}/* opera hack */
.u-postlist-s .pwb_mess{line-height:30px;*line-height:32px;_line-height:30px;cursor: pointer;}

.startbar-open,.startbar-close{cursor:pointer;height:25px;width:22px;background:url(pwicon/startbar.gif) 6px 5px no-repeat;_position:absolute;z-index:1;left:0;}
.startbar-close{ background-position:6px -25px;}
.menu-thread-bottom,.menu-post-bottom{position:fixed;_position:absolute;bottom:24px;border:none;}
.listAppItem{background:#ffffff;}
.listAppItem ul{padding:5px 10px;}
.listAppItem li{line-height:24px;height:24px;overflow:hidden;}
.listAppimg{background:#ffffff;overflow:hidden;}
.listAppimg ul{margin-bottom:-1px;}
.listAppimg li{line-height:25px;padding:5px 10px;border-bottom:1px solid #e8e8e8;}
.listAppimg li img{vertical-align:middle;width:20px;height:20px;padding:1px;background:#ffffff;border:1px solid #e5e5e5;margin-right:5px;}
.sbar-box-a .menu-hidden{width:16px;height:16px;float:right;background:url(close.gif) no-repeat;}

.forum-list-popout { max-height:400px;_height:400px;overflow:auto;}
.forum-list-popout a:hover{text-decoration:none;}
.forum-list-popout dl{border-top:1px solid #dedede;line-height:24px;margin-top:-1px;}
.forum-list-popout a{background:none;padding:0;height:auto;}
.forum-list-popout dt{height:30px;line-height:30px;padding:0 10px;border-bottom:1px solid #dedede;background:#fafafa;_width:100%;}
.forum-list-popout dt a{display:inline;color:#555; text-decoration:underline;}
.forum-list-popout dd{padding:5px 10px;_width:100%;}
.forum-list-popout dd a{width:11em;margin-right:1em;float:left;display:inline;text-decoration:underline;color:#3566cc;}
.menu-post-bottom dt a{color:#555; cursor:text; text-decoration:none;}
a.gray{color:#999;}

/*好友控件*/
.fri-list{width:330px;height:160px;overflow:hidden;border:1px solid #cccccc;}
.fri-bot{ position:absolute;left:0;;right:0;top:35px;bottom:0px;z-index:99;overflow-x:hidden;overflow-y:scroll;width:100%;height:125px;}
.fri-top{ position:absolute;left:0;top:0;right:0;background:#f0f0f0;z-index:101;height:24px;border-bottom:1px solid #cccccc;padding:5px 8px;}
.fri-bot li{float:left;width:140px;padding:4px 0 0 5px;}
.pw-card{ width:16px; height:12px;background:url(card-name.png) no-repeat;text-indent:-2000em;cursor:pointer;display:block;}

.menu-half li{width:46%;float:left;}
.menu-half li a{float:left;}
.menu-half li{padding:3px 0 3px 10px;height:19px;overflow:hidden;}
.menu-bt{margin:5px 0 10px;}
.menu-list{padding:0 20px;}
.menu-list li{line-height:30px;}
.menu-list span{float:left;width:6em;padding-right:2em;text-align:right;}
.exp{border-top:1px solid #ddd;border-bottom:1px solid #ddd;margin-top:10px;line-height:1;padding:10px 20px;}

/*名片*/
.mt10{margin-top:10px;}
.mr10{margin-right:10px;}
.mr20{margin-right:20px;}
.gray2{color:#bbbbbb;}
.p10{padding:10px;}

.pop-card-bg,.card-online,.card-offline,.card-fri,.card-mail,.card-new,.card-left-down,.card-right-down,.pop-card-info dt,.card-blog,.card-magic,.card-qq,.card-ww,.dig,.card-fri-out{background:url(card-icon.png);}
.pop-card{font-family:simsun,Arial, Helvetica, sans-serif;border:3px solid #ecf2f9;padding:1px;background:#c6d9ed;width:320px;}
.pop-card a{color:#3366cc;}
.pop-card img{ vertical-align:middle;}
.pop-card-bg{border:1px solid #ffffff;background-color:#fafafa;background-position:0 -200px;}
.pop-card-info{border-bottom:1px solid #e9e9e9;}
.pop-card-info dl{padding:10px;}
.pop-card-info dt{float:left;width:66px;height:66px; background-position:0 -120px;overflow:hidden;margin-right:6px;}
.pop-card-info dt img{width:48px;height:48px;margin:6px 0 0 6px;border:1px solid #ffffff;}
.pop-card-info dd{float:left;width:224px;}
.card-title{margin:2px 0 4px;}
.card-online,.card-fri,.card-fri-out,.card-mail,.card-offline,.card-blog,.card-magic,.card-qq,.card-ww{width:16px;height:16px;overflow:hidden;text-indent:-9999px;}
.card-online{float:left;background-position:0 0;margin-left:5px;}
.card-offline{float:left;background-position:-16px 0;margin-left:5px;}
.card-fri{float:right;background-position:0 -20px;}
.card-fri-out{float:right;background-position:0 -100px;}
.card-mail{float:right;background-position:0 -40px;margin-left:7px;}
.card-write{margin-top:4px;}
.card-app{border-top:1px solid #ffffff;}
.card-app-bot{background:#ecf2f9;border-top:1px solid #ffffff;padding:3px 0 3px 8px;}
.card-app-bot a{float:left;padding:3px;}
.card-app-bot a:hover{background:#fff;border:1px solid #c6d9ed;padding:2px;}
.card-app-bot a img{width:16px;height:16px;}
.card-bot-icon{width:264px;height:22px;overflow:hidden;float:left;}
.card-new{ background-position:0 -60px;width:22px;height:8px;overflow:hidden;position:absolute;margin-top:-1px;text-indent:-9999px;}
.card-content{border-top:1px solid #ffffff;}
.card-content a{ text-decoration:underline;}
.card-cont-hr{background:#eaeaea;height:1px;overflow:hidden;margin:10px 0;}
.card-photo li{float:left;border:1px solid #d7d7d7;padding:1px;background:#ffffff;width:46px;height:46px;margin-right:10px;overflow:hidden;}
.card-photo li img{width:100%;}
.card-left-down,.card-right-down{width:15px;height:15px;overflow:hidden;text-indent:-9999px;cursor:pointer;margin-top:4px;}
.card-left-down{ background-position:0 -80px;}
.card-right-down{ background-position:-15px -80px;margin-right:8px;}
.card-left-down:hover{ background-position:-30px -80px;}
.card-right-down:hover{ background-position:-45px -80px;}
.card-blog{ background-position:-20px -40px;float:right;margin-left:7px;}
.card-magic{ background-position:-20px -20px;float:right;margin-left:7px;}
.card-qq{ background-position:-40px -20px;float:right;margin-left:7px;}
.card-ww{ background-position:-40px -40px;float:right;margin-left:7px;}
/*job*/
.menu_tasksA_title,.menu_close,.menu_tasksA_title:hover b,.tasks_join i,.tasks_startA,.tasks_startA_old,.tasks_startB,.tasks_startB_old,.tasks_apply,.tasks_apply_old,.tasks_again,.tasks_receiving,.tasks_quit{background:url(job/menu_tasksA.png);}
.menu_tasksA{width:530px;left:50%;margin-left:-265px;top:50%;margin-top:-250px; position:absolute;}
.menu_tasksA_con{background:#fff;padding:10px 15px;}
.menu_tasksA_tab{border-bottom:1px solid #86b4d8;height:36px;margin-bottom:5px;}
.menu_tasksA_tab ul{padding-left:10px;padding-top:9px;position:absolute;}
.menu_tasksA_tab li{float:left;margin-right:5px;}
.menu_tasksA_tab li a{display:block;float:left;line-height:26px;height:26px;overflow:hidden;padding:0 20px;border:1px solid #cee3f6;border-bottom:none;background:#e6f2fe;color:#3266cb;-moz-border-radius:2px;-khtml-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;}
.menu_tasksA_tab li a:hover{ text-decoration:none;border-color:#85b3d5;}
.menu_tasksA_tab .current a{border-color:#85b3d5;background:#fff;line-height:27px;height:27px;font-weight:700;}
.menu_tasksA_title{display:block;border-top:1px solid #d6e6f5;height:28px;line-height:28px; font-size:14px;color:#4776d0;background-position:0 -380px;}
.menu_tasksA_title span{ font-size:12px; font-weight:100;color:#008800;}
.menu_tasksA_title:hover{ text-decoration:none;color:#ff6600;}
.menu_tasksA_title b{width:9px;height:9px;display:block;float:left;overflow:hidden;margin:8px 5px 0 10px;display:inline;}
.menu_tasksA_title:hover b{background-position:-34px -350px;}
.current .menu_tasksA_title{ font-weight:700;color:#4776d0;}
.current .menu_tasksA_title b,.current .menu_tasksA_title:hover b{background:none;}
.menu_tasksA_con dl{padding:5px 0 10px 10px;}
.menu_tasksA_con dt{float:left;width:130px;margin-right:10px;}
.menu_tasksA_con dt img{border:1px solid #d4d4d4;padding:3px;background:#fff;width:120px;}
.menu_tasksA_con dd{float:left;width:310px;color:#666666;}
.menu_tasksA_con dd td{word-break:keep-all}

.task_legend{height:36px;overflow:hidden;line-height:18px;}
.menu_tasksA_con dd em{ font-style:normal;color:#ff5500;}
.tasktab_1{height:370px; overflow:auto;}
.menu_close{display:block;width:17px;height:17px;text-indent:-2000em;overflow:hidden;margin:7px 0 0 0;background-position:0 -350px;}
.menu_close:hover{background-position:-17px -350px;}
.tasks_join{padding-top:10px;}
.tasks_join a{float:right;margin-right:10px;color:#3266cc;font-weight:700;}
.tasks_join i{float:right;width:9px;height:9px;display:block;overflow:hidden; background-position:-43px -350px; text-indent:-2000em;margin:3px 5px 0 0;}
/*but*/
.tasks_startA,.tasks_startA_old,.tasks_startB,.tasks_startB_old,.tasks_apply,.tasks_apply_old,.tasks_again,.tasks_receiving,.tasks_quit{width:102px;height:35px;overflow:hidden; text-indent:-2000em;display:block;padding:0;margin:0;float:left;}
.tasks_startA{ background-position:0 0;}
.tasks_startA_old{ background-position:0 -35px;}
.tasks_startB{background-position:0 -70px;}
.tasks_startB_old{ background-position:0 -105px;}
.tasks_apply{background-position:0 -140px;}
.tasks_apply_old{ background-position:0 -175px;}
.tasks_again{ background-position:0 -210px;}
.tasks_receiving{ background-position:0 -245px;}
.tasks_quit{display:block;width:73px;height:35px;overflow:hidden; text-indent:-2000em;background-position:0 -280px;float:left;}
/*new_top*/
.new_topbar_wrap{border-bottom:1px solid #bfcfd8;height:26px;background:#fff;min-width:800px;overflow:hidden;}
.new_topbar{width:98%;margin:auto;min-width:800px;overflow:hidden;}
.new_topbar a{color:#676767; font:12px/12px Arial;}
.new_topbar a:hover{color:#336699;}
img.top_face{width:15px;height:15px;float:left;margin:-1px 3px 0 0;border:1px solid #ccc;overflow:hidden;}
.new_topbar_left{}
.new_topbar_left a{float:left;padding:5px;*padding:6px 5px 5px;margin:2px 3px 0;outline:none; white-space:nowrap;}
.new_topbar_left a.new_topbar_name{font-weight:700;}
.new_topbar_left a.backend{}
.new_topbar_left span.green{color:#676767;}
.new_topbar_left i{float:left;width:1px;background:#c5c5c5;height:15px;overflow:hidden;padding:0;margin:6px 4px 0;}
.new_topbar_right{float:right;}
.new_topbar_right li{float:left;margin:7px 7px 0 0;border-right:1px solid #c5c5c5;}
.new_topbar_right li a{float:left;padding:0 0 1px;*padding:1px 0 0;margin-right:7px;}
a.menu_down,a.menu_down:hover{padding:6px 7px 4px;margin:1px;text-decoration:none;}
a.new_topbar_mes{background:url(email.gif) 0 4px no-repeat;padding-left:18px;color:#ff5500;}

#td_mymenu,#td_mymenu_old{cursor:pointer;float:right;width:90px;height:23px;overflow:hidden;line-height:23px;padding-left:10px;margin:5px 10px 0 0;color:#555;}
#td_mymenu,#td_mymenu_old{cursor:pointer;}
/*menu_cur*/
.menu_down{position:relative;z-index:99999;outline:none;*height:18px;}
.menu_down:hover{*height:18px;}
.menu_down span{display:none;border:1px solid #bfcfd8;top:0px;left:0px;background:#fff;}
.menu_down:hover span,.current a.menu_down span{display:block;position:absolute;border-bottom:none;padding:5px 6px 0;cursor:pointer;height:20px;}
/*ie bug*/
a.new_topbar_mes{*background-position:0 3px;}
img.top_face{*margin:-3px 3px 0 0;}
.new_topbar_left a.new_topbar_name{*margin-left:1px;}
a.menu_down,.current a.menu_down{*padding:7px 7px 0;}
a.menu_down:hover span,.current a.menu_down span{*padding:6px 6px 0;*height:19px;}
/*menu_up*/
.menu_topup{border:1px solid #bfcfd8;background:#fff;margin-top:-2px;*margin-top:0;padding:5px 0;}
.menu_topup li{padding-left:26px;}
.menu_topup .menu-half{padding-bottom:5px;}
.menu_topup .menu-half li{width:40%;}
.menu_topup h5{border-top:1px solid #dddddd;display:block;margin:0 5px;color:#555555;font-weight:700;padding:5px 0 0 21px;background:url(pwicon/switch.gif) 2px 7px no-repeat;}
.menu_userlist{scrollbar-face-color:#e5eef8;scrollbar-highlight-color:#e5eef8; scrollbar-shadow-color:#bfcfd8; scrollbar-3dlight-color:#bfcfd8; scrollbar-arrow-color: #bfcfd8; scrollbar-track-color:#f7fbff;scrollbar-darkshadow-color: #ffffff;scrollbar-base-color:#ccc;height:125px;overflow:auto;padding-top:3px;}
.menu_userlist li{width:49.8%;float:left;padding-left:0;}
.menu_userlist li a{display:block;line-height:25px;text-decoration:underline;padding-left:21px;color:#336699;margin-left:5px;}
.menu_userlist li a:hover{background:url(pwicon/choose.gif) 1px 4px no-repeat;background-color:#e6f2fe;}
.menu_topup2,.menu_topup3{border:1px solid #bfcfd8;background:#fff;padding:5px 0;_margin-top:25px;}
.menu_topup2 .menu_userlist li a:hover{ background-position:6px 5px;}
.menu_topup3{padding:0;width:3em;_margin-top:0;}
.menu_topup3 li{height:22px;overflow:hidden;}
.menu_topup3 a{display:block;line-height:22px;padding:0 6px;color:#676767;height:22px;}
.menu_topup3 a:hover{background-color:#e6f2fe; text-decoration:none;}
.menu_topup4{width:96px;border-top:1px solid #ec9300;margin-top:-3px;margin-left:-1px;_margin-left:1px;}
.menu_topup4 li{height:28px;}
.menu_topup4 a{color:#333333;padding:4px 6px;_padding:6px 6px 2px;line-height:18px;height:18px;}
.menu_topup4 img{ vertical-align:middle;margin-right:5px;}
.menu_topup4 b{padding:0 8px;margin-right:5px;}
/*fastpost*/
.menu_userA{height:25px;}
.menu_userA a{padding:1px 11px;display:block;height:25px;_height:19px;line-height:25px;_padding-top:6px;}
.menu_userA a:hover,.menu_userAcur a{border:1px solid #bfcfd8;padding:0 10px;background:#fff;text-decoration:none;position:absolute;white-space:nowrap;z-index:11;_padding-top:5px;}
.menu_userA a i{display:none;font-style:normal;color:#248301;}
.menu_userA a:hover i,.menu_userAcur a i{ display:inline;cursor:pointer;}
.menu_userAcur{z-index:11;}
.menu_userAcur a,.menu_userAcur a:hover{border-bottom:0;}
/*menu-tab*/
.pw_list_a{height:28px;border-bottom:1px solid #c5d8e8;background:#ecf6fb;color:#1b72af;padding:0 10px;}
.pw_list_a ul{position:absolute;margin-top:4px;}
.pw_list_a li{float:left;}
.pw_list_a li a{line-height:24px;height:24px;padding:0 10px;float:left;color:#1b72af;font-weight:100;}
.pw_list_a li a:hover{ text-decoration:none;}
.pw_list_a .current a{border:1px solid #a6cbe7;background:#ffffff;border-bottom:0;color:#666666;}
.pw_list_a li.none a{border:1px solid #a6cbe7;line-height:18px;height:18px;background:#ffffff;}
/*pages*/
.pages,.pages .pagesone{line-height:23px;height:23px;font-family:Tahoma;}
.pages a,.pages b,.pages .pagesone,.pages button{background:url(wind/pages.png) 999px 999px repeat-x;}
.pages a,.pages b,.pages .pagesone{display:block;float:left;margin-right:5px;-moz-border-radius:3px;-webkit-border-radius:3px;}
.pages a{border:1px solid #8dc1d7;background-color:#f9f9f9;padding:0 8px;color:#666; background-position:0 0;}
.pages b,.pages a:hover{background-color:#76c3fb; background-position:0 -23px;color:#ffffff;border:1px solid #248bd8;text-decoration:none;padding:0 8px;}
.pages .fl{color:#666;padding:0 10px 0 5px;}
.pages .pagesone{border:1px solid #8dc1d7;background-color:#ffffff;background-position:0 -46px;}
.pages input{padding:0;float:left;;background:none;border:0;margin:4px 3px 0 3px;width:35px;}
.pages button{height:23px;background-color:#f4f8fb;padding:0 5px;border:0;border-left:1px solid #8dc1d7;color:#1b83b8;cursor:pointer;float:left; background-position:0 -68px;}
.pages .c{width:1px;}