<!--<?php
defined('W_P') or exit('Forbidden');
print <<<EOT
-->

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Cache-Control" content="no-cache"/>
<meta name="viewport" content="width=device-width; initial-scale=1.4;  minimum-scale=1.0; maximum-scale=2.0"/>
<meta name="MobileOptimized" content="240"/>

<head><title>$headTitle</title>
<!--
EOT;
$pwWapCss = readover($wapImages.'/wap.css');print <<<EOT
-->
<style>
$pwWapCss
</style>
<!--
EOT;
if($refreshurl){print <<<EOT
-->
<meta http-equiv="refresh" content="1;url=$refreshurl">
<!--
EOT;
}print <<<EOT
-->
</head>
<body>
<div class="wrap">
<div class="logo"><img src="$wapImages/phplogo.png"><a href="index.php?a=search" id="top">搜索</a></div>
<div class="dh">
<a href="index.php">首页</a>|
<a href="index.php?a=forum">论坛</a>|
<a href="index.php?a=ms_index">
<!--
EOT;
if($messageNumber > 0){print <<<EOT
-->
<img alt="new" src="$wapImages/meg.gif" />消息<span class="new">({$messageNumber})</span>
<!--
EOT;
}else{print <<<EOT
-->
消息
<!--
EOT;
}print <<<EOT
-->
</a>
</div>
<!--
EOT;
?>-->