html {font-size:12px;height:100%; overflow:hidden;border:0;}
body, div, dl, dt, dd, ul, ol, li,
h1, h2, h3, h4, h5, h6, pre, code,
form, fieldset, legend, input, button,
textarea, p, blockquote, th, td {margin: 0;padding: 0;}
img {border: 0;}
cite,em,strong,th{font-style: inherit;font-weight: inherit;}
h1, h2, h3, h4, h5, h6 {font-size: 100%;font-weight: normal;}
input,button,textarea,select{font-family: inherit;font-size: inherit;font-style: inherit;font-weight: inherit;}
input,button,textarea,select{*font-size: 100%;}
body {line-height: 1.5;}
ul {list-style: none;}
ol{margin-left:1.5em;}
table {border-collapse: collapse;border-spacing: 0;}
th{text-align: left;}
blockquote{quotes: none;}
blockquote:before,blockquote:after,{content: '';content: none;}
:link, :visited {text-decoration: none;}
td,th,div{word-break:break-all;word-wrap:break-word}
form{display:inline;}
*{outline:none}
.cc:after {content: ".";display: block;height:0;clear: both;visibility: hidden;}
.cc {display: inline-block;}
* html .cc {height: 1%;}
.cc {display: block;}
.c{clear:both;height:0px;font:0px/0px Arial;overflow:hidden;width:0;}
.b{ font-weight:700;}
.w{white-space:nowrap}
.tal{text-align:left}
.tac{text-align:center}
.tar{text-align:right}
.fr{float:right}
.fl{float:left}
.pr{position:relative}
.vt,.vt td{vertical-align:top}
.f9{font-size:10px;}
.f10,small,.small{font-size:11px;}
.f12{font-size:12px}
.f14{font-size:14px}
.f16{font-size:16px;}
.f20{font-size:20px;}
.f24{font-size:24px;}
.fn,.fn a{font-weight:normal}

body{background:#f0efed; font-family:Verdana;height:100%;width:100%;overflow:hidden;}
a{color:#336699;text-decoration:none;}
a:hover{color:#ff5500;}
#menubar{width:300px; position:absolute;left:0;top:0;height:100%;background:#29547f url(menubar_bg.png) right 0 repeat-y;}
.menubar{padding:90px 15px 0 0;text-align:right;}
#content{padding-left:300px; overflow-y:scroll;height:100%;}
.content{padding:80px 40px 50px;line-height:2;color:#555;}
.content a{ white-space:nowrap;}
.logo{padding-right:10px;}
.logo a{background:url(logo.png) no-repeat;width:156px;height:55px;float:right;overflow:hidden;display:block;text-indent:-2000em;line-height:50000px;}
h2{ font-size:16px;color:#336699; font-weight:700;padding-left:20px;}
h3{ font-size:14px;color:#000000; font-weight:700;}
.div_hr{border-bottom:1px solid #fff;height:1px;overflow:hidden;background:#d0ceca;margin:10px 0;}
.box{padding:5px 20px; font-size:12px;}
.box2{padding:30px 0 20px 0; font-size:12px;text-align:center;}
.nav{padding:30px 5px 0 0;}
.nav ul{float:right;}
.nav li{line-height:24px;height:24px;width:100px; overflow:hidden;}
.nav ul li{list-style-type:none;}
.nav li a{color:#fff;display:block;padding:0 15px;margin:2px;}
.nav li a:hover{background:#174471;}
.nav .current{border:1px solid #34608c;background:#174471;padding:1px;}
.nav .current a{border:1px solid #7aa7d3;background:#5386b9;height:22x;line-height:22px;padding:0 13px;margin:0;}
.bottom{padding:30px 40px; font-size:11px;color:#999; font-family:Arial;}
.footer{color:#bfd4ea; position:absolute;bottom:25px;right:25px; text-align:right;}

ul { color: #666666; margin-left:10px;padding-bottom: 14px; }
li { margin-left:5px; line-height: 1.8em; }
ul li{list-style-type:disc;}